/*header start =========================*/
header{
    width: 100%;
    height: 80px;

    @include m(){
        position: fixed;
        top:0;
        z-index :999;

    }

    .container {
        justify-content: space-between;
        @include m(){
            justify-content: center;
            width: 90%;
            background-color: hsl(0, 0%, 100%, 90%);
            border-radius: $borderRadius;
            padding: 10px;
            margin: 10px auto 0;
            position: relative;
        }

        .member-center {
            display: none;
        }

        #ham {
            color: $primary;
            font-size: 40px;
            margin-left: auto;
            display: none;

            @include m() {
                display: block;
                cursor: pointer;
                 &.-close{ 
                    display: none;
                 }
            }
        }

        #cross {
            color: $primary;
            font-size: 40px;
            margin-left: auto;
            /*========叉叉先隱藏===========*/
            display: none;
            cursor: pointer;
            @include m(){
                &.-open{
                    display: block;
                }
            }
        }


        a {
            text-decoration: none;
            color: $fontColor;
            cursor: pointer;
        }

        display: flex;
        padding: 15px 0;


        img {
            height: 40px;

            @include m() {
                height: 35px;
            }
        }

        /*索引+會員&購物車按扭*/
        .nav-bar {
            @include flex-container($justify-content:flex-end);
            width: 80%;

            @include m(){
                height: 580px;
                background-color: hsl(0, 0%, 100%, 95%);
                width: 95%;
                position: absolute;
                top: 60px;
                left: 0;
                border-radius: $borderRadius;
                padding: 0 10px;

                /*========選單先隱藏===========*/
                max-height: 0;
                overflow: hidden;
                transition: max-height .3s ease; //收合過程

                &.-openlist{
                    max-height:600px;
                    transition: max-height .3s ease; //展開過程
                }
            }



            /*索引*/
            .nav {
                @include flex-container($wrap:nowrap, $justify-content:space-around);
                width: 70%;
                margin-top: 15px;

                @include m() {
                    flex-direction: column;
                    margin: 0 auto;
                }

                li {
                    width: 100%;
                    line-height: 30px;
                    text-align: center;
                    font-size: $paragraph-s;

                    @include m() {
                        margin-top: 10px;
                        line-height: 60px;
                        border-bottom: 1px dashed $primary;

                        &:last-child {
                            border-bottom: none;
                        }
                    }

                    a {
                        display: block;
                        &:hover {
                            font-weight: bold;
                            color: $primary;
                        }
                    }

                    a.active {
                        font-weight: bold;
                        color: $primary;
                    }
                }
            }

            // +會員&購物車按扭
            .nav-btn {
                display: flex;
                align-items: flex-end;

                @include m() {
                    order: -1;
                    margin-right: auto;


                }

                li {
                    // width: 100%;
                    padding: 8px;
                    margin: 10px 5px 0 5px;
                    border: 1px solid $fontColor;
                    font-size: $paragraph-s;

                    &:hover {
                        background-color: $primary;

                        a {
                            color: $secondary;
                        }

                    }
                }

                li.active {
                    background-color: $primary;

                    a {
                        color: $secondary;
                    }
                }
            }
        }
    }
}



/*header end =========================*/