<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>行程管理-內容</title>
    @@include('./layout/style.html')
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css"
        integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <style>
        body {
            background-color: #F4F1E8;
        }
    </style>
</head>

<body>
    <section class="backProductDetail container">

        <aside class="">
            <div id="logo_block">
                <img src="./image/footer/logosqure.svg" alt="logo">
            </div>
            <ul>
                <li><a href="backMember.html" class="btn-pri-l">會員管理</a></li>
                <li><a href="backOrder.html" class="btn-pri-l">訂單管理</a></li>
                <li><a href="backProduct.html" class="btn-pri-l">行程管理</a></li>
                <li><a href="backBlog.html" class="btn-pri-l">專欄管理</a></li>
                <back-stage-log-out-btn></back-stage-log-out-btn>
            </ul>
        </aside>

        <!-- ========== 主欄位 ========== -->
        <main class="" id="app">
            <h2>行程管理</h2>

            <!-- ========== 上排按鈕 ========== -->
            <section class="select-block">
                <button @click="backPage">返回<span class="material-symbols-outlined">
                        undo
                    </span>
                </button>

                <section class="edit-block">
                    <button id="delete-btn" @click="deleteProduct">刪除<span class="material-symbols-outlined">
                            delete
                        </span>
                    </button>
                    <button id="edit-btn" @click="editable = true" v-show="!editable">編輯<span
                            class="material-symbols-outlined">
                            edit
                        </span>
                    </button>
                </section>

            </section>

            <!-- ========== 行程內容 ========== -->
            <section class="content_block">
                <p>行程內容</p>
                <div class="content_block_inner row">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">行程名稱</span>
                        <input type="text" class="form-control" :readonly="!editable" v-model="name"
                            aria-label="Username" aria-describedby="basic-addon1">
                    </div>

                    <div class="input-group mb-3 col">
                        <span class="input-group-text" id="region">行程地區</span>
                        <select id="region" class="form-select" :disabled="!editable" v-model="region">
                            <option value="1">東京</option>
                            <option value="2">神奈川</option>
                            <option value="3">埼玉</option>
                            <option value="4">茨城</option>
                            <option value="5">千葉</option>
                            <option value="6">群馬</option>
                            <option value="7">栃木</option>
                        </select>
                    </div>

                    <div class="input-group mb-3 col">
                        <span class="input-group-text" id="type">行程類別</span>
                        <select id="type" class="form-select" :disabled="!editable" v-model="typeName">
                            <option selected value="1">一日遊</option>
                            <option value="2">景點門票</option>
                            <option value="3">主題樂園</option>
                            <option value="4">歷史景點</option>
                        </select>
                    </div>

                    <div class="input-group mb-3 col">
                        <span class="input-group-text" id="basic-addon1">行程價格</span>
                        <input type="text" class="form-control" :readonly="!editable" v-model="price">
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">行程日期</span>
                        <!-- <input type="text" class="form-control" :readonly="!editable" v-model="date"> -->
                        <input type="date" class="form-control" v-model="selectedDate" :readonly="!editable">
                        <input type="button" value="選擇" class="btn btn-secondary" @click="saveDate">
                    </div>

                    <div class="input-group mb-3" v-show="editable">
                        <ul>
                            <li v-for="(date, index) in selectedDates" :key="index">{{ date }}</li>
                        </ul>
                    </div>


                    <div class="input-group mb-3">
                        <span class="input-group-text">行程簡介1</span>
                        <input type="text" class="form-control" :readonly="!editable" v-model="Content1">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">行程簡介2</span>
                        <input type="text" class="form-control" :readonly="!editable" v-model="Content2">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">行程簡介3</span>
                        <input type="text" class="form-control" :readonly="!editable" v-model="Content3">
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">封面照片</span>
                        <input type="text" class="form-control" disabled>
                    </div>


                    <!--封面照片-->
                    <section class="img_block">
                        <div class="inner_img_block">
                            <img :src="desImg1" class="img-thumbnail" alt="">
                            <label for="desImg1" class="inputFile" v-show="editable">檔案上傳</label>
                            <input type="file" id="desImg1" accept="image/*" @change="updatedesImg1"
                                style="display: none;">
                        </div>
                        <div class="inner_img_block">
                            <img :src="desImg2" class="img-thumbnail" alt="">

                            <label for="desImg2" class="inputFile" v-show="editable">檔案上傳</label>
                            <input type="file" id="desImg2" accept="image/*" @change="updatedesImg2"
                                style="display: none;">
                        </div>
                        <div class="inner_img_block">
                            <img :src="desImg3" class="img-thumbnail" alt="">
                            <label for="desImg3" class="inputFile" v-show="editable">檔案上傳</label>
                            <input type="file" id="desImg3" accept="image/*" @change="updatedesImg3"
                                style="display: none;">
                        </div>
                    </section>




                </div>

            </section>

            <!-- ========== 方案詳情 ========== -->
            <section class="plan_block">

                <p>方案詳情</p>
                <div class="plan_block_inner">

                    <!-- ========== 方案詳情 v-for ========== -->

                    <!--詳情1-->
                    <section class="mb-3">
                        <div class="outer-img">
                            <img :src="plan_Img1 " class="img-thumbnail" alt="">
                            <label for="plan_Img1" class="inputFile" v-show="editable">檔案上傳</label>
                            <input type="file" id="plan_Img1" @change="updatePlanImg1" style="display: none;">
                        </div>

                        <section class="content_block col-7">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1">行程名稱</span>
                                <!-- <input type="text" class="form-control" v-model="plan_title1" :readonly="!editable"
                                    aria-label="Username" aria-describedby="basic-addon1"> -->
                                <select class="form-select" v-model="plan_title1" :readonly="!editable">
                                    <option value="去程">去程</option>
                                    <option value="景點/體驗">景點/體驗</option>
                                    <option value="回程">回程</option>
                                </select>
                            </div>

                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1">行程時間</span>
                                <input type="text" class="form-control" v-model="plan_time1" :readonly="!editable"
                                    aria-label="Username" aria-describedby="basic-addon1">
                            </div>

                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1">行程地點</span>
                                <input type="text" class="form-control" v-model="plan_ContentTitle1"
                                    :readonly="!editable" aria-label="Username" aria-describedby="basic-addon1">
                            </div>

                            <div class="input-group">
                                <span class="input-group-text">行程簡介</span>
                                <textarea class="form-control" v-model="plan_content1" :readonly="!editable" rows="3"
                                    aria-label="With textarea"></textarea>
                            </div>
                        </section>
                    </section>

                    <!--詳情2-->
                    <section class="mb-3">
                        <div class="outer-img">
                            <img :src="plan_Img2 " class="img-thumbnail" alt="">
                            <label for="plan_Img2" class="inputFile" v-show="editable">檔案上傳</label>
                            <input type="file" id="plan_Img2" @change="updatePlanImg2" style="display: none;">

                        </div>

                        <section class="content_block col-7">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1">行程名稱</span>
                                <!-- <input type="text" class="form-control" v-model="plan_title2" :readonly="!editable"
                                    aria-label="Username" aria-describedby="basic-addon1"> -->
                                <select class="form-select" v-model="plan_title2" :readonly="!editable">
                                    <option value="去程">去程</option>
                                    <option value="景點/體驗">景點/體驗</option>
                                    <option value="回程">回程</option>
                                </select>
                            </div>

                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1">行程時間</span>
                                <input type="text" class="form-control" v-model="plan_time2" :readonly="!editable"
                                    aria-label="Username" aria-describedby="basic-addon1">
                            </div>

                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1">行程地點</span>
                                <input type="text" class="form-control" v-model="plan_ContentTitle2"
                                    :readonly="!editable" aria-label="Username" aria-describedby="basic-addon1">
                            </div>

                            <div class="input-group">
                                <span class="input-group-text">行程簡介</span>
                                <textarea class="form-control" v-model="plan_content2" :readonly="!editable" rows="3"
                                    aria-label="With textarea"></textarea>
                            </div>
                        </section>
                    </section>

                    <!--詳情3-->
                    <section class="mb-3">
                        <div class="outer-img">
                            <img :src="plan_Img3" class="img-thumbnail" alt="">
                            <label for="plan_Img3" class="inputFile" v-show="editable">檔案上傳</label>
                            <input type="file" id="plan_Img3" @change="updatePlanImg3" style="display: none;">

                        </div>

                        <section class="content_block col-7">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1">行程名稱</span>
                                <!-- <input type="text" class="form-control" v-model="plan_title3" :readonly="!editable"
                                    aria-label="Username" aria-describedby="basic-addon1"> -->
                                <select class="form-select" v-model="plan_title3" :readonly="!editable">
                                    <option value="去程">去程</option>
                                    <option value="景點/體驗">景點/體驗</option>
                                    <option value="回程">回程</option>
                                </select>
                            </div>

                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1">行程時間</span>
                                <input type="text" class="form-control" v-model="plan_time3" :readonly="!editable"
                                    aria-label="Username" aria-describedby="basic-addon1">
                            </div>

                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1">行程地點</span>
                                <input type="text" class="form-control" v-model="plan_ContentTitle3 "
                                    :readonly="!editable" aria-label="Username" aria-describedby="basic-addon1">
                            </div>

                            <div class="input-group">
                                <span class="input-group-text">行程簡介</span>
                                <textarea class="form-control" v-model="plan_content3" :readonly="!editable" rows="3"
                                    aria-label="With textarea"></textarea>
                            </div>
                        </section>
                    </section>

                    <!--詳情4-->
                    <section class="mb-3">
                        <div class="outer-img">
                            <img :src="plan_Img4" class="img-thumbnail" alt="">
                            <label for="plan_Img4" class="inputFile" v-show="editable">檔案上傳</label>
                            <input type="file" id="plan_Img4" @change="updatePlanImg4" style="display: none;">

                        </div>

                        <section class="content_block col-7">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1">行程名稱</span>
                                <!-- <input type="text" class="form-control" v-model="plan_title4" :readonly="!editable"
                                    aria-label="Username" aria-describedby="basic-addon1"> -->
                                <select class="form-select" v-model="plan_title4" :readonly="!editable">
                                    <option value="去程">去程</option>
                                    <option value="景點/體驗">景點/體驗</option>
                                    <option value="回程">回程</option>
                                </select>
                            </div>

                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1">行程時間</span>
                                <input type="text" class="form-control" v-model="plan_time4 " :readonly="!editable"
                                    aria-label="Username" aria-describedby="basic-addon1">
                            </div>

                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1">行程地點</span>
                                <input type="text" class="form-control" v-model="plan_ContentTitle4 "
                                    :readonly="!editable" aria-label="Username" aria-describedby="basic-addon1">
                            </div>

                            <div class="input-group">
                                <span class="input-group-text">行程簡介</span>
                                <textarea class="form-control" v-model="plan_content4" :readonly="!editable" rows="3"
                                    aria-label="With textarea"></textarea>
                            </div>
                        </section>
                    </section>
                </div>

            </section>

            <!-- ========== 活動介紹 ========== -->
            <section class="intro_block">
                <p>活動介紹</p>
                <div class="intro_block_inner">
                    <div class="input-group mb-3">
                        <span class="input-group-text">行程簡介</span>
                        <textarea class="form-control" v-model="intro" :readonly="!editable" rows="3"
                            aria-label="With textarea"></textarea>
                    </div>

                    <section class="img_block">
                        <div class="inner_img_block">
                            <img :src="introImg1" class="img-thumbnail" alt="">
                            <label for="introImg1" class="inputFile" v-show="editable">檔案上傳</label>
                            <input type="file" id="introImg1" name="introImg1" @change="updateIntroImg1"
                                style="display: none;">
                        </div>
                        <div class="inner_img_block">
                            <img :src="introImg2" class="img-thumbnail" alt="">
                            <label for="introImg2" class="inputFile" v-show="editable">檔案上傳</label>
                            <input type="file" id="introImg2" @change="updateIntroImg2" style="display: none;">
                        </div>
                        <div class="inner_img_block">
                            <img :src="introImg3" class="img-thumbnail" alt="">
                            <label for="introImg3" class="inputFile" v-show="editable">檔案上傳</label>
                            <input type="file" id="introImg3" style="display: none;" @change="updateIntroImg3">
                        </div>
                        <div class="inner_img_block">
                            <img :src="introImg4" class="img-thumbnail" alt="">
                            <label for="introImg4" class="inputFile" v-show="editable">檔案上傳</label>
                            <input type="file" id="introImg4" style="display: none;" @change="updateIntroImg4">
                        </div>
                    </section>

                </div>
            </section>

            <!-- ========== 下排按鈕 ========== -->
            <section class="lower_btn_block" v-show="editable">

                <section class="edit-block">
                    <button id="cancel-btn" @click="editable = false">取消</button>
                    <button id="confirm-btn" @click="updateData">儲存</button>
                </section>

            </section>

        </main>
    </section>

    <script src="js/vendors/vue.global.prod.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>
    <script src="./js/checkBackSession.js"></script>
    <script src="./js/backProductDetail.js" type="module"></script>

</body>

</html>