<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>行程管理</title>
    @@include('./layout/style.html')
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css"
        integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <style>
        body {
            background-color: #F4F1E8;
        }
    </style>
</head>

<body>
    <section class="backProduct">
        <aside class="">
            <div id="logo_block">
                <img src="./image/footer/logosqure.svg" alt="logo">
            </div>
            <ul>
                <li><a href="backMember.html" class="btn-pri-l">會員管理</a></li>
                <li><a href="backOrder.html" class="btn-pri-l">訂單管理</a></li>
                <li><a href="backProduct.html" class="btn-pri-l">行程管理</a></li>
                <li><a href="backBlog.html" class="btn-pri-l">專欄管理</a></li>
            </ul>
        </aside>
        <main class="" id="app">
            <h2>行程管理</h2>
            <section class="select-block">
                <div class="form">
                    <!-- {{selectValue}} -->
                    <select name="title" id="title" v-model="selectValue">
                        <option value="">選擇項目</option>
                        <option value="行程編號">行程編號</option>
                        <option value="行程名稱">行程名稱</option>
                    </select>
                    <input type="text" class="textStyle" placeholder="" v-model="textValue">
                    <input type="button" value="搜尋" class="btn-pri-m" @click="searchBtn">
                </div>

                <section class="edit-block">
                    <button>刪除<span class="material-symbols-outlined">
                            delete
                        </span>
                    </button>
                    <button><a href="makeNewOneProduct.html">新增<span class="material-symbols-outlined">
                        add_circle
                    </span></a> </button>
                </section>

            </section>

            <table class="table table-light table-hover table-bordered table-sm">
                <thead>
                    <tr class="table-dark">
                        <th scope="col">選取</th>
                        <th scope="col">行程編號<span class="material-symbols-outlined">
                                unfold_more
                            </span>
                        </th>
                        <th scope="col">行程名稱<span class="material-symbols-outlined">
                                unfold_more
                            </span>
                        </th>
                        <th scope="col">地區</th>
                        <th scope="col">行程類別</th>
                        <th scope="col">查看細節</th>
                    </tr>
                </thead>
                <tbody class="">
                    <tr v-for="(item, index) in  sliceProducts" :key="index">
                        <th scope="row">
                            <input type="checkbox">
                        </th>
                        <td>{{ item.ID }}</td>
                        <td>{{ item.Name }}</td>
                        <td>{{ item.RegionName}}</td>
                        <td>{{ item.TypeName }}</td>
                        <td>
                            <button @click="checkDetail"><a :href="`./backProductDetail.html?id=${item.ID}`"
                                    class="backProductDetail_btn">查看</a></button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <section class="page-btn">
                <!-- {{startNum}} -->
                <button @click="reducePage">上一頁</button>
                <div>{{currentNum}}/{{products.length}}</div>
                <button @click="addPage">下一頁</button>
            </section>

        </main>
    </section>

    <script src="js/vendors/vue.global.prod.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>
    <script src="./js/checkBackSession.js"></script>

    <script src="./js/backProduct.js"></script>

</body>

</html>