<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>專欄管理</title>
    @@include('./layout/style.html')
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css" integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <style>
        body{
            background-color: #F4F1E8;
        }
    </style>
</head>
<body>

    <section class="backBlog" id="app">
        <aside class="">
            <div id="logo_block">
                <img src="./image/footer/logosqure.svg" alt="logo">
            </div>
            <ul>
                <li><a href="backMember.html" class="btn-pri-l">會員管理</a></li>
                <li><a href="backOrder.html" class="btn-pri-l">訂單管理</a></li>
                <li><a href="backProduct.html" class="btn-pri-l">行程管理</a></li>
                <li><a href="backBlog.html" class="btn-pri-l">專欄管理</a></li>
            </ul>
        </aside>
        <main class="">
            <h2>專欄管理</h2>
            <section class="select-block">
                <div class="form">
                    <select name="title" id="title" v-model="searchType">
                        <option value="">選擇項目</option>
                        <option value="ID">專欄編號</option>
                        <option value="Title">專欄名稱</option>
                    </select>
                    <input type="text" class="textStyle" placeholder="" v-model="searchText" @keyup.enter="doSearch">
                    <input type="button" value="搜尋" class="btn-pri-m" @click="doSearch" >
                </div>

                <section class="edit-block">
                    <button @click="deleteBlog">刪除<span class="material-symbols-outlined">
                        delete
                        </span>
                    </button>
                    <button @click="createNew">新增<span class="material-symbols-outlined">
                        add_circle
                        </span>
                    </button>
                </section>
    
            </section>

            <table class="table table-light table-hover table-bordered table-sm">
                <thead>
                    <tr class="table-dark">
                        <th scope="col">選取</th>
                        <th scope="col">專欄編號<span class="material-symbols-outlined">
                            unfold_more
                            </span>
                        </th>
                        <th scope="col">專欄名稱<span class="material-symbols-outlined">
                            unfold_more
                            </span>
                        </th>
                        <th scope="col">發布日期</th>
                        <th scope="col">地區</th>
                        <!-- <th scope="col">專欄狀態</th> -->
                        <th scope="col">查看細節</th>
                    </tr>
                </thead>
                <tbody class="" >
                    <tr v-for="(item, index) in slicedBlog" :key="index">
                        <th scope="row">
                            <input class="slice" type="checkbox" :value="item.ID" >
                        </th>
                        <td>{{ item.ID }}</td>
                        <td>{{ item.Title }}</td>
                        <td>{{ item.CreatedTime }}</td>
                        <td>{{ item.RegionName }}</td>
                        <!-- <td>
                            <div class="switch-btn" @click="switchBtn">
                                <div class="switch-track">
                                    <div class="off">OFF</div>
                                    <div class="core"></div>
                                    <div class="on">ON</div>    
                                </div>
                            </div>
                        </td> -->
                        <td>
                            <button @click="checkDetail" :data-id="item.ID">查看</button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <section class="page-btn">
                <button @click="backStartNum">上一頁</button>
                <div>{{currentNum}}/{{sortedBlog.length}}</div>
                <button @click="addStartNum">下一頁</button>
            </section>

        </main>
    </section>

    <script src="js/vendors/vue.global.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>
    <script src="./js/checkBackSession.js"></script>
    <script src="./js/backBlog.js"></script>

</body>
</html>