<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <title>旅遊專欄</title>
    @@include('./layout/style.html')

</head>

<body>
    <!-- 以下Header區域 -->
    @@include('./layout/header.html',{
    blog:'active'
    })
    <!-- 以下是top button -->
    @@include('./layout/topBtn.html')
    <div class="all_blog">
        <div class="des_swiper-container">
            <div class="swiper my_des_Swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="./blogPage.html?id=5">
                            <img src="./image/blog/Mask group (4).png" />
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="./blogPage.html?id=1">
                            <img src="./image/blog/Mask group (5).png" />
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="./blogPage.html?id=2">
                            <img src="./image/blog/Mask group (6).png" />
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="./blogPage.html?id=9">
                            <img src="./image/blog/Mask group (7).png" />
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="./blogPage.html?id=6">
                            <img src="./image/blog/Mask group (8).png" />
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="./blogPage.html?id=5">
                            <img src="./image/blog/Mask group (4).png" />
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="./blogPage.html?id=1">
                            <img src="./image/blog/Mask group (5).png" />
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="./blogPage.html?id=2">
                            <img src="./image/blog/Mask group (6).png" />
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="./blogPage.html?id=9">
                            <img src="./image/blog/Mask group (7).png" />
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="./blogPage.html?id=6">
                            <img src="./image/blog/Mask group (8).png" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="prev-btn">
                <img src="./image/blog/btn_left.png" alt="">
            </div>
            <div class="next-btn">
                <img src="./image/blog/btn_right.png" alt="">
            </div>


        </div>

        <!--手機板篩選按鈕-->
        <div class="phone_filter_btn">
            <ul>
                <li v-for="(item,index) in Region" :key="index"><a href="#" class="btn-sec-l blog_btn"
                        :class="{ '-active': activeIndex === index }" @click.prevent="handleClick(index)">{{item}}</a>
                </li>
            </ul>
        </div>

        <!--手機板title-->
        <div class="phone_title">
            <div class="pic">
                <img src="./image/blog/logo.png" alt="">
            </div>
            <div class="content">
                <ul>
                    <li>探索古老的城市和現代的城市風景</li>
                    <li>體驗不同的文化和風俗</li>
                    <li>關東之旅等待著你的到來</li>
                </ul>
            </div>
        </div>

        <!-- 手機版本pickup -->
        <div class="pickup">
            <!-- <h3>PICK UP</h3> -->
            <div class="pick_inner">
                <div class="pic first">
                    <a href="./blogPage.html?id=5">
                        <img src="./image/blog/Mask group (4).png" alt="">
                    </a>
                </div>
                <div class="pic">
                    <a href="./blogPage.html?id=1">
                        <img src="./image/blog/Mask group (5).png" alt="">
                    </a>
                </div>
                <div class="pic">
                    <a href="./blogPage.html?id=2">
                        <img src="./image/blog/Mask group (6).png" alt="">
                    </a>
                </div>
                <div class="pic">
                    <a href="./blogPage.html?id=9">
                        <img src="./image/blog/Mask group (7).png" alt="">
                    </a>
                </div>
                <div class="pic">
                    <a href="./blogPage.html?id=6">
                        <img src="./image/blog/Mask group (8).png" alt="">
                    </a>
                </div>
            </div>

        </div>


        <!--搜尋button-->
        <section class="container travel_sec1">
            <ul>
                <li v-for="(item,index) in Region" :key="index"><a href="#" class="btn-sec-l blog_btn"
                        :class="{ '-active': activeIndex === index }" @click.prevent="handleClick(index)">{{item}}</a>
                </li>
            </ul>
        </section>



        <!--活動-->
        <section class="container travel-sec3">
            <!--1-->

            <div class="another_event" v-for="item in paginatedActivities">
                <div class="title tag-m">
                    {{item.RegionName}}
                </div>
                <div class="pic">
                    <a :href="`./blogPage.html?id=${item.ID}`"><img :src="`./image/blog/${item.ID}/${item.BannerPC}`"
                            alt=""></a>
                </div>
                <div class="content">
                    <h3>{{item.Title}}</h3>
                    <div class="text">
                        <p><a :href="`./blogPage.html?id=${item.ID}`">{{item.Content}}</a></p>
                    </div>

                </div>
                <div class="link">
                    <a :href="`./blogPage.html?id=${item.ID}`">查看詳情</a>
                </div>
            </div>

        </section>


        <!--分頁按鈕-->
        <section class="container blog_travel-sec4">
            <div class="btn">
                <a href="#" class="btn-pri-l" v-for="page in totalPages" :key="page" @click.prevent="goToPage(page)">
                    {{page}}</a>
            </div>
        </section>


        <!-- <section class="container blog_travel-sec4">
            <div class="btn">
                <a href="#" class="btn-pri-l">1</a>
                <a href="#" class="btn-pri-l">2</a>
                <a href="#" class="btn-pri-l">3</a>
            </div>
        </section> -->





        <!--手機分頁按鈕-->
        <section class="container phone_blog_travel-sec4">
            <div class="btn">
                <a href="#" class="btn-pri-l" v-for="page in totalPages" :key="page" @click.prevent="goToPage(page)">
                    {{page}}</a>
                <!-- <a href="#" class="btn-pri-l">2</a>
                <a href="#" class="btn-pri-l">3</a>
                <a href="#" class="btn-pri-l">></a> -->
            </div>
        </section>
    </div>
    <!-- 以下可以開始編輯 -->
    <!-- 電腦版Swiper -->


    <!-- 以下Footer區域 -->
    @@include('./layout/footer.html')

    <!-- 以下共用外接js區域 -->
    @@include('./layout/js.html')
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"
        integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="./js/blog.js"></script>
    <script>

        //電腦版swiper
        // var swiper = new Swiper(".my_des_Swiper", {
        //     effect: "coverflow",
        //     grabCursor: true,
        //     centeredSlides: true,
        //     slidesPerView: "auto",
        //     coverflowEffect: {
        //         rotate: 0,
        //         stretch: 0,
        //         depth: 100,
        //         modifier: 2.5,
        //         slideShadows: true,
        //     },
        //     loop: true,
        // });
        // var prevBtn = document.querySelector('.prev-btn');
        // console.log(prevBtn);
        // prevBtn.addEventListener('click', function () {
        //     swiper.slidePrev(); // 滑动到前一个slide
        // });
        // var nextBtn = document.querySelector('.next-btn')
        // nextBtn.addEventListener('click', function () {
        //     swiper.slideNext(); // 滑动到前一个slide
        // });



        var swiper;

        function initSwiper() {
            if (window.innerWidth < 768) {
                if (swiper !== undefined) {

                    //用swiper.destroy()和swiper = undefined来销毁Swiper实例和重置swiper变量
                    swiper.destroy();
                    swiper = undefined;
                }
            } else {
                if (swiper === undefined) {
                    swiper = new Swiper(".my_des_Swiper", {
                        effect: "coverflow",
                        grabCursor: true,
                        centeredSlides: true,
                        slidesPerView: "auto",
                        coverflowEffect: {
                            rotate: 0,
                            stretch: 0,
                            depth: 100,
                            modifier: 2.5,
                            slideShadows: true,
                        },
                        loop: true,
                    });
                }
            }
        }

        initSwiper();

        window.addEventListener('resize', initSwiper);

        var prevBtn = document.querySelector('.prev-btn');
        // console.log(prevBtn);
        prevBtn.addEventListener('click', function () {
            swiper.slidePrev(); // 滑动到前一个slide
        });
        var nextBtn = document.querySelector('.next-btn')
        nextBtn.addEventListener('click', function () {
            swiper.slideNext(); // 滑动到前一个slide
        });
    </script>
</body>

</html>