<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>購物車</title>
    @@include('./layout/style.html')
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />

</head>

</head>

<body>
    <!-- 以下Header區域 -->
    @@include('./layout/header.html',{
    cart:'active'
    })
    <!-- 以下是top button -->
    @@include('./layout/topBtn.html')

    <!-- 以下可以開始編輯 -->
    <div id="app">

        <div class="cart_container">


            <!-- 麵包屑 -->
            <div class="cart_bread">
                <ul>
                    <li>
                        <i class="cart_icons_cart">shopping_cart</i>
                    </li>
                    <li>
                        <i class="cart_icons_description">assignment</i>
                    </li>
                    <li>
                        <i class="cart_icons_credit_card">credit_card</i>
                    </li>
                </ul>
            </div>

            <div class="cart_section1" v-if="shoppingList.length !== 0">
                <ul class="cart_list" v-if="shoppingList.length !== 0">
                    <h4>購物車</h4>

                    <!-- <li>
                        <input type="checkbox" id="aboutSelectAll" v-model="selectAll" @change="selectAllChanged">
                    </li>
                    <li>
                        <p>全選</p>
                    </li> -->

                </ul>

                <div class="cart_inner_section" >

                    <span class="cart_line" v-if="shoppingList.length !== 0"></span>

                    <!---------------- 電腦版購物車 ---------------->
                    <div class="cart_item_list">
                        <ul class="cart_pc_section1" id="cart-item-list">
                            <li v-for="(shoppinglist, index) in shoppingList" :key="index" class="cart_pic_div">
                                <!-- <input type="checkbox" v-model="shoppinglist.selectOne" @change="selectOneChanged"> -->
                                <!-- <div class="cart_inner_pic"> -->
                                <img :src="shoppinglist.banner" alt="照片黨">
                                <!-- </div> -->
                                <div class="cart_inner_word">
                                    <p>{{shoppinglist.title}}</p>
                                    <p>{{shoppinglist.selectedDate}}</p>
                                </div>
                                <p>{{shoppinglist.count}}人</p>
                                <p>NT${{shoppinglist.total}}</p>
                                <div class="cart_icon_container">
                                    <i id="cartFavoriteIcon" class="cart_icons_favorite_small">favorite_border</i>
                                    <i class="cart_icons_trash_small" @click="remove(index)">delete_outline</i>
                                </div>
                            </li>
                        </ul>
                        </li>
                        </ul>
                        <span class="cart_line" v-if="shoppingList.length !== 0"></span>
                    </div>

                    </ul><!---------------- 電腦版購物車 ---------------->
                    <!---------------- 結算 ---------------->
                    <ul class="cart_total_price" v-if="shoppingList.length !== 0">
                        <li>
                            <p>總額</p>
                        </li>
                        <li>
                            <div class="payment_item_price">
                                <p>NT${{isTotal}}</p>
                            </div>
                        </li>
                    </ul>
                    <a href="payment.html" class="cart_pay_btn_wrapper" v-if="shoppingList.length !== 0">
                        <button class="cart_pay_btn">前往付款</button>
                    </a>
                    <!---------------- 結算 ---------------->

                </div>

            </div>
            <!---------------- 購物車空的時候 ---------------->

            <div class="cart_when_empty" v-if="shoppingList.length === 0">
                <img id="emptyCartImage" class="empty-cart-message" src="./image/about/Empty_Slate__Shopping_Cart.gif"
                    alt="">
                <p id="emptyCartText1" class="empty-cart-message">購物車是空的，目前正被喵喵霸佔中？</p>
                <p id="emptyCartText2" class="empty-cart-message">馬上去逛逛，挑幾個你喜歡的玩樂吧！</p>
                <a href="product.html">
                    <button id="emptyCartBtn" class="cart_pay_btn2">前往查看</button>
                </a>
            </div>

            <!---------------- 推薦的地方 ---------------->
            <div class="cart_section2">
                <ul>
                    <li v-for="(productinfo, index) in isProductInfo" :key="index" class="cart_pic_div">
                        <img :src="`./image/productPage/${productinfo.ID}/phone_banner1.jpg`" alt="照片黨">
                        <p>
                            {{productinfo.Name}}
                        </p>
                        <a :href="'productpage.html?id='+productinfo.ID"><button cart_btn>查看詳情</button>
                        </a>
                    </li>
                </ul>
            </div> <!---------------- 推薦的地方 ---------------->
        </div>

        <!-- 加東西先進 localstorage -->
        <!-- <li>
                <div class="cart_pic_div">
                        <img src="./image/cart/rec2.jpg" alt="">
                    </div>
                    <p>鎌倉大佛&鎌倉高校前</p>
                    <p>$1500</p>
                    <button cart_btn onclick="click_view_detail_btn(this);">查看詳情</button>
                </li>
 -->
        <!-- <p>測試按鈕 加東西進 localStorage</p>
        <li>
            <img src="./image/cart/rec2.jpg" alt="">
            <p>鎌倉大佛&鎌倉高校前</p>
            <p>2023-06-24</p>
            <p>$1500</p>
            <button id="view-details-btn" @click="click_view_detail_btn($event.target)">View Details</button>
        </li> -->

    </div><!-- APP -->

    <!-- 以下Footer區域 -->
    @@include('./layout/footer.html')

    <!-- 以下共用外接js區域 -->
    @@include('./layout/js.html')

    <script src="./js/cart.js"></script>

</body>

</html>




<!---------------- 手機版購物車 ---------------->
<!-- <div class="cart_mobile_section1"> -->

<!-- <div class="cart_mobile_article1">
                                <ul>
                                    <li>
                                        <input type="checkbox" id="aboutSelectOne">
                                    </li>
                                    <li>
                                        <img src="./image/cart/mobile_item1.jpg" alt="">
                                    </li>

                                </ul>
                            </div>


                            <div class="cart_mobile_article2">
                                <ul>
                                    <li>
                                        <p>富士山賞櫻一日遊</p>
                                    </li>

                                    <li>
                                        <p>TWD $1500</p>
                                    </li>

                                    <li>
                                        <p>人數 X 1</p>
                                    </li>
                                    <li class="cart_icon_container_m">
                                        <i id="cartFavoriteIcon" class="cart_icons_favorite_small">favorite_border</i>
                                        <i id="cartDeleteIcon" class="cart_icons_trash_small">delete_outline</i>
                                    </li>
                                </ul>
                            </div> -->

<!---------------- 手機版購物車 ---------------->