<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登入/註冊</title>
    @@include('./layout/style.html')
</head>

<body>
    <!-- 以下Header區域 -->
    @@include('./layout/header.html',{
    login:'active'
    })
    <!-- 以下是top button -->
    @@include('./layout/topBtn.html')

    <!-- 以下可以開始編輯 -->
    <div id="app">
        <section class="wrapper loginRegister" :class="{'-show':start === true}">
            <div class="container">
                <div class="box">
                    <ul class="tab">
                        <li><button type="button" class="tabBtn" @click="tabOn('login')"
                                :class="{ active: activeBtn === 'login'}">登入</button></li>
                        <li><button type="button" class="tabBtn" @click="tabOn('register')"
                                :class="{ active: activeBtn === 'register'}">註冊</button></li>
                    </ul>

                    <!-- Login區域  -->
                    <div class="login tabContent" v-if="current_tab === 'login'">
                        <label for="loginID">帳號</label>
                        <input type="email" id="loginID" class="textStyle" placeholder="請輸入電子信箱" v-model="email">
                        <div v-if="!isValidEmail" class="errorMsg">請輸入有效的電子郵件地址。</div>
                        <label for="loginPW">密碼</label>
                        <input type="password" id="loginPW" class="textStyle" placeholder="請輸入密碼" v-model="pw">
                        <p @click="showForget = true;">忘記密碼</p>
                        <input type="button" class="loginBtn" :disabled="!isValidEmail" value="登入" @click="doLogin()">
                    </div>


                    <!-- Register區域  -->
                    <div class="register tabContent" v-if="current_tab === 'register'">
                        <label for="registerID">註冊帳號</label>
                        <input type="email" id="registerID" class="textStyle" placeholder="請輸入電子信箱" v-model="email" @keyup="checkUnique()">
                        <div v-if="!isValidEmail" class="errorMsg">請輸入有效的電子郵件地址。</div>
                        <div v-if="!isUniqueEmail" class="errorMsg">此Email已有人使用，請您重新輸入</div>
                        <label for="registerPW">密碼</label>
                        <input type="password" id="registerPW" class="textStyle" placeholder="請輸入密碼" v-model="pw">
                        <div v-if="!isValidPwLength" class="errorMsg">密碼至少需要4個字元。</div>
                        <label for="confirmPW">再次確認密碼</label>
                        <input type="password" id="confirmPW" class="textStyle" placeholder="請再次輸入密碼" v-model.lazy="pwCheck" @change="PWCheck()">
                        <div v-if="!isPasswordMatch" class="errorMsg">您再次輸入的密碼有誤</div>
                        <input type="button" class="registerBtn" value="註冊" :disabled="!isPasswordMatch || !isValidEmail || email ==='' || pw ==='' || pwCheck === '' || !isUniqueEmail" @click="doRegister()">
                    </div>

                </div>
            </div>


            <!-- 測試PHP --- 忘記密碼區域  -->
            <div class="forget wrapper" v-if="showForget">
                <div class="reset container" v-show="!showDone">
                    <span @click="showForget = false"><i class="ai-cross"></i></span>
                    <div class="formDiv">
                        <h3>重設密碼</h3>
                        <label for="forgetID">請輸入您註冊Kanto的電子信箱，我們會發送重設密碼的信件至您的信箱。</label>
                        <input type="email" id="forgetID" class="textStyle" placeholder="請輸入您註冊的電子信箱"
                            v-model="forgetEmail">
                        <input type="button" class="forgetBtn" value="送出" :disabled="forgetEmail === ''"
                            @click="doForget()">
                    </div>
                </div>

                <div class="done container" v-show="showDone">
                    <form action="">
                        <h3>已傳送重置密碼的電子郵件</h3>
                        <p>已將電子郵件傳送至您輸入的電子信箱帳號，請依照電子郵件中的指示重置密碼。</p>
                        <button type="button" @click="showForget = false; showDone = false">完成</button>
                    </form>
                </div>
            </div>


        </section>
    </div>
    <!-- 以下Footer區域 -->
    @@include('./layout/footer.html')

    <!-- 以下共用外接js區域 -->
    @@include('./layout/js.html')
    <script src="https://smtpjs.com/v3/smtp.js"></script>
    <script src="js/loginRegister.js"></script>

</body>

</html>