<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>行程管理-新增</title>
    @@include('./layout/style.html')
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css"
        integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <style>
        body {
            background-color: #F4F1E8;
        }
    </style>
</head>

<body>
    <section class="backBlogDetail container">

        <!-- ========== 側邊欄 ========== -->
        <aside class="">
            <div id="logo_block">
                <img src="./image/footer/logosqure.svg" alt="logo">
            </div>
            <ul>
                <li><a href="backMember.html" class="btn-pri-l">會員管理</a></li>
                <li><a href="backOrder.html" class="btn-pri-l">訂單管理</a></li>
                <li><a href="backProduct.html" class="btn-pri-l">行程管理</a></li>
                <li><a href="backBlog.html" class="btn-pri-l">專欄管理</a></li>
            </ul>
        </aside>

        <!-- ========== 主欄位 ========== -->
        <main class="" id="app">
            <h2>新增行程</h2>

            <!-- ========== 上排按鈕 ========== -->
            <section class="select-block">
                <button @click="back">返回<span class="material-symbols-outlined">
                        undo
                    </span>
                </button>
            </section>

            <!-- ========== 行程內容 ========== -->
            <section class="content_block">
                <p>行程內容</p>
                <div class="row" style="padding: 10px 30px;">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">行程名稱</span>
                        <input type="text" class="form-control"  v-model="product.name"
                            aria-label="Username" aria-describedby="basic-addon1">
                    </div>

                    <div class="input-group mb-3 col">
                        <span class="input-group-text" id="region">行程地區</span>
                        <select id="region" class="form-select" v-model="product.region">
                            <option selected>東京都</option>
                            <option>神奈川縣</option>
                            <option>千葉縣</option>
                            <option>埼玉縣</option>
                            <option>群馬縣</option>
                            <option>栃木縣</option>
                            <option>茨城縣</option>
                            <option>山梨縣</option>
                        </select>
                    </div>

                    <div class="input-group mb-3 col">
                        <span class="input-group-text" id="type">行程類別</span>
                        <select id="type" class="form-select" v-model="product.productType">
                            <option selected>一日遊</option>
                            <option>景點門票</option>
                            <option>主題樂園</option>
                            <option>歷史景點</option>
                        </select>
                    </div>

                    <div class="input-group mb-3 col">
                        <span class="input-group-text" id="basic-addon1">行程價格</span>
                        <input type="text" class="form-control" v-model="product.price">
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">行程日期</span>
                        <input type="text" class="form-control" v-model="productDetail.offerDate">
                    </div>


                    <div class="input-group mb-3">
                        <span class="input-group-text">行程簡介 1</span>
                        <input type="text" class="form-control" v-model="productIntroduction.content1">
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">行程簡介 2</span>
                        <input type="text" class="form-control" v-model="productIntroduction.content2">
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">行程簡介 3</span>
                        <input type="text" class="form-control" v-model="productIntroduction.content3">
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">封面照片</span>
                        <input type="text" class="form-control" disabled>
                    </div>

                    <section class="img_block">
                        <div class="inner_img_block">
                            <img class="img-thumbnail">
                            <button>新增<span class="material-symbols-outlined">
                                    add_circle
                                </span>
                            </button>
                        </div>

                        <div class="inner_img_block">
                            <img class="img-thumbnail">
                            <button>新增<span class="material-symbols-outlined">
                                    add_circle
                                </span>
                            </button>
                        </div>

                        <div class="inner_img_block">
                            <img class="img-thumbnail">
                            <button>新增<span class="material-symbols-outlined">
                                    add_circle
                                </span>
                            </button>
                        </div>
                    </section>

                </div>

            </section>

            <!-- ========== 方案詳情 ========== -->
            <section class="plan_block">

                <p>方案詳情</p>
                <div class="">

                    <!-- ========== 方案詳情 v-for ========== -->
                    <template v-for="(item, index) in plan" :key="index">
                        <section class="mb-3">

                            <div class="outer-img">
                                <img :src="item.img" class="img-thumbnail" alt="">
                                <button v-show="editable">新增<span class="material-symbols-outlined">
                                        add_circle
                                    </span>
                                </button>

                            </div>

                            <section class="content_block col-7">
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="basic-addon1">行程名稱</span>
                                    <input type="text" class="form-control" :readonly="!editable" v-model="item.title"
                                        aria-label="Username" aria-describedby="basic-addon1">
                                </div>

                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="basic-addon1">行程時間</span>
                                    <input type="text" class="form-control" :readonly="!editable" v-model="item.time"
                                        aria-label="Username" aria-describedby="basic-addon1">
                                </div>

                                <div class="input-group">
                                    <span class="input-group-text">行程簡介</span>
                                    <textarea class="form-control" v-model="item.description" :readonly="!editable"
                                        rows="3" aria-label="With textarea"></textarea>
                                </div>
                            </section>

                        </section>

                    </template>

                </div>

            </section>

            <!-- ========== 活動介紹 ========== -->
            <section class="intro_block">
                <p>活動介紹</p>
                <form action="#" class="row">
                    <div class="input-group mb-3">
                        <span class="input-group-text">行程簡介</span>
                        <textarea class="form-control" v-model="intro" :readonly="!editable" rows="3"
                            aria-label="With textarea"></textarea>
                    </div>

                    <section class="img_block">
                        <div class="inner_img_block" v-for="(item, index) in contentImg" :key="index">
                            <img :src="item" class="img-thumbnail" alt="">
                            <button v-show="editable">新增<span class="material-symbols-outlined">
                                    add_circle
                                </span>
                            </button>
                        </div>
                    </section>

                </form>
            </section>

            <!-- ========== 下排按鈕 ========== -->
            <section class="lower-btn-block">

                <section class="edit-block">
                    <button id="cancel-btn">取消</button>
                    <button id="confirm-btn">儲存</button>
                </section>

            </section>


        </main>
    </section>

    <script src="js/vendors/vue.global.prod.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>
    <script src="./js/makeNewOneProduct.js"></script>
</body>

</html>