<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>專欄管理-內容</title>
    @@include('./layout/style.html')
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css"
        integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <style>
        body {
            background-color: #F4F1E8;
        }
    </style>
</head>

<body>
    <section class="backBlogDetail container">

        <!-- ========== 側邊欄 ========== -->
        <aside class="">
            <div id="logo_block">
                <img src="./image/footer/logosqure.svg" alt="logo">
            </div>
            <ul>
                <li><a href="backMember.html" class="btn-pri-l">會員管理</a></li>
                <li><a href="backOrder.html" class="btn-pri-l">訂單管理</a></li>
                <li><a href="backProduct.html" class="btn-pri-l">行程管理</a></li>
                <li><a href="backBlog.html" class="btn-pri-l">專欄管理</a></li>
            </ul>
        </aside>

        <!-- ========== 主欄位 ========== -->
        <main class="" id="app">
            <h2>專欄管理</h2>

            <!-- ========== 上排按鈕 ========== -->
            <section class="select-block">
                <button @click="backPage">返回<span class="material-symbols-outlined">
                        undo
                    </span>
                </button>

                <section class="edit-block">
                    <button id="delete-btn">刪除<span class="material-symbols-outlined">
                            delete
                        </span>
                    </button>
                    <button id="edit-btn" @click="editable = true" v-show="!editable">編輯<span
                            class="material-symbols-outlined">
                            edit
                        </span>
                    </button>
                </section>

            </section>

            <!-- ========== 專欄內容 ========== -->
            <section class="content_block">
                <p>專欄內容</p>
                <form action="#" class="row">
                    <div class="input-group mb-3">
                        <span class="input-group-text">專欄名稱</span>
                        <input type="text" class="form-control" :readonly="!editable" v-model="name">
                    </div>

                    <div class="input-group mb-3 col">
                        <span class="input-group-text">專欄狀態</span>
                        <select class="form-select" :disabled="!editable">
                            <option selected>顯示</option>
                            <option>隱藏</option>
                        </select>
                    </div>

                    <div class="input-group mb-3 col">
                        <span class="input-group-text">專欄地區</span>
                        <select class="form-select" :disabled="!editable">
                            <option>東京都</option>
                            <option selected>神奈川縣</option>
                            <option>千葉縣</option>
                            <option>埼玉縣</option>
                            <option>群馬縣</option>
                            <option>栃木縣</option>
                            <option>茨城縣</option>
                            <option>山梨縣</option>
                        </select>
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">專欄簡介</span>
                        <textarea class="form-control" v-model="intro" :readonly="!editable" rows="7"></textarea>
                    </div>

                    <div class="input-group mb-3">
                        <label class="input-group-text" for="photo">封面照片</label>
                        <input type="file" class="form-control" id="photo" :disabled="!editable">
                    </div>

                    <section class="img_block">
                        <div class="inner_img_block" v-for="(item, index) in coverImg" :key="index">
                            <img :src="item" class="img-thumbnail" alt="">
                            <button v-show="editable">新增<span class="material-symbols-outlined">
                                    add_circle
                                </span>
                            </button>
                        </div>
                    </section>

                </form>

            </section>

            <!-- ========== 方案詳情 ========== -->
            <section class="plan_block">

                <p>方案詳情</p>
                <form action="#" class="row">

                    <!-- ========== 方案詳情 v-for ========== -->
                    <template v-for="(item, index) in plan" :key="index">
                        <section class="mb-4">
                            <div class="outer-img">
                                <img :src="item.img" class="img-thumbnail" alt="">
                                <button v-show="editable">新增<span class="material-symbols-outlined">
                                        add_circle
                                    </span>
                                </button>
                            </div>

                            <section class="content-block col-7">
                                <div class="input-group mb-3">
                                    <span class="input-group-text">行程名稱</span>
                                    <input type="text" class="form-control" :readonly="!editable" v-model="item.title">
                                </div>

                                <div class="input-group mb-3">
                                    <span class="input-group-text">行程時間</span>
                                    <input type="text" class="form-control" :readonly="!editable" v-model="item.time">
                                </div>

                                <div class="input-group mb-3">
                                    <span class="input-group-text">行程簡介</span>
                                    <textarea class="form-control" v-model="item.description" :readonly="!editable"
                                        rows="3"></textarea>
                                </div>
                            </section>

                        </section>
                    </template>

                </form>

            </section>

            <!-- ========== 下排按鈕 ========== -->
            <section class="lower-btn-block" v-show="editable">

                <section class="edit-block">
                    <button id="cancel-btn" @click="editable = false">取消</button>
                    <button id="confirm-btn" @click="editable = false">儲存</button>
                </section>

            </section>


        </main>
    </section>

    <script src="js/vendors/vue.global.prod.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>
    <script src="./js/checkBackSession.js"></script>
    <script>
        const app = Vue.createApp({
            data() {
                return {
                    name: '富士山賞櫻一日遊',
                    status: 'show',
                    region: 'kanagawa',
                    intro: `東京出發，展開富士山朝聖之旅
一次玩遍超人氣景點！
富士山五合目近距離觀看富士山！
河口湖音樂盒之森美術館
沉浸於跨越時代的音樂世界。
走進富士山下的湧泉仙境──忍野八海
盡覽秀麗景觀並感受聖泉能量。`,
                    coverImg: ['image/blogPage/banner.png', 'image/blogPage/title.png'],
                    plan: [
                        { time: '08:10', title: '出發', description: '新宿中心大廈', img: 'image/blogPage/event1.png' },
                        { time: '10:20', title: '富士山五合目', description: `五合目位於海拔 2305 公尺的山腰被周圍的原始森林環抱，朵朵白雲就在腳下漂浮，近距離觀看富士山！`, img: 'image/blogPage/event2.png' },
                        { time: '12:30', title: '河口湖音樂盒之森美術館', description: '遠方的富士山的夢幻美景，與大型音樂盒演奏著經典的古典樂都很有看點。', img: 'image/blogPage/event3.png' },
                        { time: '14:30', title: '忍野八海', description: '由八個湖泊組成，每一個湖泊都有其獨特的形態和特色，並且湖水的顏色也因地形、氣候、時間等因素而不斷變化。春天湖泊周邊開滿了櫻花，夏季水清如鏡，秋季紅葉遍布，冬季則會因雪而變得尤為神秘。每一季的景色都是不同的，都值得讓人慢慢品味。', img: 'image/blogPage/event4.png' }
                    ],
                    editable: false

                }
            },
            methods: {
                backPage() {
                    history.back();
                }

            }

        });

        app.mount('#app');

    </script>
</body>

</html>