<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>會員中心</title>
    @@include('./layout/style.html')
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</head>

<body>
    <!-- 以下Header區域 -->
    @@include('./layout/header.html',{
    member:'active'
    })
    <!-- 以下是top button -->
    @@include('./layout/topBtn.html')

    <!-- 以下可以開始編輯 -->
    <div id="app">
        <main class="member wrapper">
            <section class="container" :class="{'-show':start === true}">
                <aside>
                    <div class="avatar">
                        <div class="img" v-if="!preview"><img v-if="accountInfo.Avatar" :src="avatarURL+accountInfo.ID+'/avatar/'+accountInfo.Avatar"></div>
                        <div class="img" v-if="preview"><img :src="accountInfo.Avatar"></div>
                        <ul class="imgOption">
                            <li>
                                <label for="upload">選擇圖片</label>
                                <input @change="uploadAvatar" type="file" id="upload" accept="image/*">
                            </li>
                            <li><input type="button" class="save" value="儲存" @click="saveAvatar"></li>
                        </ul>
                    </div>

                    <ul class="tab">
                        <li><button class="tabBtn" @click="tab_change('account')"
                                :class="{'tabOn': current_tab === 'account'}">帳號設定</button></li>
                        <li><button class="tabBtn" @click="tab_change('order')"
                                :class="{'tabOn': current_tab === 'order'}">訂單管理</button></li>
                        <li><button class="tabBtn" @click="tab_change('collect')"
                                :class="{'tabOn': current_tab === 'collect'}">我的收藏</button></li>
                        <li><button class="tabBtn" @click="tab_change('coupon')"
                                :class="{'tabOn': current_tab === 'coupon'}">優惠券</button></li>
                    </ul>

                    <select id="m-tab" v-model="current_tab">
                        <option value="account">帳號設定</option>
                        <option value="order">訂單管理</option>
                        <option value="collect">我的收藏</option>
                        <option value="coupon">優惠券</option>
                    </select>

                    <a href="../php/Logout.php" class="logout" onclick="localStorage.clear()">登出</a>
                </aside>

                <!-- 以下是帳號設定 -->
                @@include('./layout/memberAccount.html')


                <!-- 以下是訂單管理 -->
                @@include('./layout/memberOrder.html')

                <!-- 以下是我的收藏 -->
                @@include('./layout/memberCollect.html')

                <!-- 以下是優惠券 -->
                @@include('./layout/memberCoupon.html')

            </section>
        </main>
    </div>

    <!-- 以下Footer區域 -->
    @@include('./layout/footer.html')

    <!-- 以下共用外接js區域 -->
    @@include('./layout/js.html')
    <script type="module" src="js/member.js"></script>
    <script src="https://smtpjs.com/v3/smtp.js"></script>
</body>

</html>