<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>付款資訊</title>
    @@include('./layout/style.html')
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">

</head>

<body>
    <!-- 以下Header區域 -->
    @@include('./layout/header.html',{
    cart:'active'
    })
    <!-- 以下是top button -->
    @@include('./layout/topBtn.html')

    <!-- 以下可以開始編輯 -->
    <div id="app">

        <div class="payment_container">

            <div class="cart_bread">
                <ul>

                    <li>
                        <i class="payment_icons_cart">shopping_cart</i>
                    </li>
                    <li>
                        <i class="payment_icons_description">assignment</i>
                    </li>
                    <li>
                        <i class="payment_icons_credit_card">credit_card</i>
                    </li>
                </ul>
            </div>

            <div class="payment_left">

                <div class="payment_section1">
                    <form action="process_payment.php" method="post">
                        <h4>會員人資料</h4>
                        <span class="payment_line"></span>
                        <ul>
                            <!-- <li>
                                <p> ID </p>                                
                                <input type="text" id="paymentMemId" v-model="memId">
                            </li> -->
                            <li>
                                <p>帳戶</p>
                                <input type="text" id="payment_full_name" v-model="accountId">
                            </li>
                            <li>
                                <p>全名</p>
                                <input type="email" id="payment_email" v-model="fullName">
                            </li>
                            <li>
                                <p>電話</p>
                                <input type="tel" id="phone" name="phone" v-model="phone">
                            </li>
                        </ul>
                    </form>
                </div>

                <div class="payment_section1">
                    <h4>付款方式</h4>
                    <span class="payment_line"></span>
                    <form action="process_payment.php" method="post">
                        <ul>
                            <li>
                                <input type="text" id="payment_card_number" name="card_number" required
                                    placeholder="信用卡卡號" v-model="creditCardNumber">
                                <span v-if="creditCardError" class="payment_error">信用卡卡號有誤 <br> 測試用卡號: 4929607239563168</span>
                            </li>
                            <li>
                                <input type="text" id="payment_expiry_date" name="expiry_date" required
                                    placeholder="有效期限" v-model="expiryDate">
                                <span v-if="expiryDateError" class="payment_error">過期日有誤</span>
                            </li>
                            <li>
                                <input type="text" id="cvv" name="cvv" required placeholder="CVC" v-model="cvc">
                                <span v-if="cvcError" class="payment_error">安全碼有誤</span>
                            </li>
                        </ul>
                    </form>
                </div>
                <div class="payment_section3">
                    <form action="process_payment.php" method="post">
                        <h4>電子發票</h4>
                        <span class="payment_line"></span>
                        <ul>
                            <li>
                                <input type="email" id="payment_email" name="billing_address" required
                                    placeholder="電子信箱" v-model="email">
                                <span v-if="emailError" class="payment_error">電子信箱有誤</span>
                            </li>

                        </ul>
                    </form>
                </div>
            </div>

            <!-- right side of the page -->
            <div class="payment_right">

                <div class="payment_side">
                    <form action="process_payment.php" method="post">
                        <h4>項目</h4>
                        <span class="payment_line"></span>
                        <ul>
                            <li>
                                <div class="payment_side_inner">

                                    <div class="payment_item_info">
                                        <ul class="" id="">
                                            <li v-for="(shoppinglist, index) in shoppingList" :key="index"
                                                class="payment_inner_pic">
                                                <img :src="shoppinglist.banner" alt="照片黨">
                                                <div class="payment_inner_word">
                                                    <p >{{shoppinglist.title}}</p>
                                                    <p>{{shoppinglist.selectedDate}}</p>
                                                </div>
                                                <p :id="shoppinglist.productID"></p>
                                                <div class="payment_inner_word2">
                                                    <p>{{shoppinglist.count}}人</p>
                                                    <p>NT${{shoppinglist.total}}</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>

                            </li>
                            <li class="payment_select">
                                <select id="payment_coupon" name="請選擇優惠卷" v-model="selectedCoupon" @change="updateCoupon">
                                    <option value="" disabled selected>請選擇優惠卷{{isDiscount}}</option>
                                    <option v-for="coupon in isCoupon" :data-id="coupon.CouponID" :value="coupon.Discount">
                                     {{ coupon.CouponName }}
                                    </option>
                                </select>

                            </li>

                            <span class="payment_line"></span>

                            <li class="payment_price_selection">
                                <label for="payment_total_amount">金額</label>
                                <p>NT${{isTotal}}</p>
                            </li>

                            <!-- <li class="payment_price_selection">
                                <label for="payment_discount_name">優惠卷名稱</label>
                                <p>{{ getCouponName(selectedCoupon) }}</p>
                            </li> -->

                            <!-- <li class="payment_price_selection">
                                <label for="payment_discount_percentage">折扣百分比</label>
                                <p>{{ getDiscountAmount(selectedCoupon) }}%</p>
                              </li> -->

                            <span class="payment_line"></span>

                            <li class="payment_price_selection">
                                <label for="payment_total_price">折扣後總價</label>
                                <p>NT${{isSubTotal}}</p>
                            </li>

                            <li>
                                    <input
                                      type="button"
                                      value="立即付款"
                                      @click="validateCreditCard"
                                      :style="{ backgroundColor: (hasErrors || isAnyInputEmpty) ? 'gray' : '' }"
                                    />
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <!-- 以下Footer區域 -->
    @@include('./layout/footer.html')

    <!-- 以下共用外接js區域 -->
    @@include('./layout/js.html')

    <script src="./js/payment.js"></script>


</body>

</html>

