<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>付款資訊</title>
    @@include('./layout/style.html')
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
</head>


<body>
    <!-- 以下Header區域 -->
    @@include('./layout/header.html',{
    cart:'active'
    })
    <!-- 以下是top button -->
    @@include('./layout/topBtn.html')

    <!-- 以下可以開始編輯 -->
    <div id="app">

        <div class="payment_container">

            <div class="cart_bread">
                <ul>

                    <li>
                        <i class="payment_icons_cart">shopping_cart</i>
                    </li>
                    <li>
                        <i class="payment_icons_description">assignment</i>
                    </li>
                    <li>
                        <i class="payment_icons_credit_card">credit_card</i>
                    </li>
                </ul>
            </div>

            <div class="payment_left">

                <div class="payment_section1">
                    <form action="process_payment.php" method="post">
                        <h4>會員人資料</h4>
                        <span class="payment_line"></span>
                        <ul>
                            <!-- <li v-for="(isaccountinfo, index) in isAccountInfo" :key="index">
                                <p id="payment_full_name" >{{FullName}} </p>
                                <p id="payment_email">{{AccountID}} </p>
                                <p id="phone">{{Phone}} </p>
        
                            </li> -->
                            <li>
                                <input type="text" id="payment_full_name" name="full_name" required placeholder="請輸入名字">
                            </li>
                            <li>
                                <input type="email" id="payment_email" name="email" required placeholder="請輸入電子信箱">
                            </li>
                            <li>
                                <input type="tel" id="phone" name="phone" required placeholder="請輸入手機號">
                            </li>
                        </ul>
                    </form>
                </div>

                <div class="payment_section1">
                    <h4>付款方式</h4>
                    <span class="payment_line"></span>
                    <form action="process_payment.php" method="post">
                        <ul>
                            <li>
                                <input type="text" id="payment_card_number" name="card_number" required
                                    placeholder="信用卡卡號">
                            </li>
                            <li>
                                <input type="text" id="payment_expiry_date" name="expiry_date" required
                                    placeholder="有效期限">
                            </li>
                            <li>
                                <input type="text" id="cvv" name="cvv" required placeholder="CVC">
                            </li>
                        </ul>
                    </form>
                </div>
                <div class="payment_section3">
                    <form action="process_payment.php" method="post">
                        <h4>電子發票</h4>
                        <span class="payment_line"></span>
                        <ul>
                            <li>
                                <input type="radio" id="payment_option1" name="choices" value="option1">
                                <label for="option1">電子信箱</label>
                            </li>
                            <li>
                                <input id="payment_email" name="billing_address" required placeholder="電子信箱"></input>
                            </li>
                            <li>
                                <input type="radio" id="payment_option1" name="choices" value="option1">
                                <label for="option1">郵寄地址</label>
                            </li>
                            <li>
                                <textarea lock id="payment_shipping_address" name="shipping_address" required
                                    placeholder="郵寄地址"></textarea>
                            </li>
                        </ul>
                    </form>
                </div>
            </div>

            <!-- right side of the page -->
            <div class="payment_right">

                <div class="payment_side">
                    <form action="process_payment.php" method="post">
                        <h4>項目</h4>
                        <span class="payment_line"></span>
                        <ul>
                            <li>
                                <div class="payment_side_inner">

                                    <div class="payment_item_info">
                                        <ul class="" id="">
                                            <li v-for="(shoppinglist, index) in shoppingList" :key="index"
                                                class="payment_inner_pic">
                                                <img :src="shoppinglist.banner" alt="照片黨">
                                                <div class="payment_inner_word">
                                                    <p>{{shoppinglist.title}}</p>
                                                    <p>{{shoppinglist.selectedDate}}</p>
                                                </div>
                                                <div class="payment_inner_word2">

                                                    <p>{{shoppinglist.count}}人</p>
                                                    <p>NT${{shoppinglist.total}}</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>

                            </li>
                            <li class="payment_select">
                                <select id="payment_coupon" name="請選擇優惠卷">
                                    <option value="" disabled selected>請選擇優惠卷</option>
                                    <option value="coupon1">Coupon 1</option>
                                    <option value="coupon2">Coupon 2</option>
                                    <option value="coupon3">Coupon 3</option>
                                </select>
                            </li>

                            <span class="payment_line"></span>

                            <li class="payment_price_selection">
                                <label for="payment_total_amount">金額</label>
                                <p>NT${{isTotal}}</p>
                            </li>

                            <li class="payment_price_selection">
                                <label for="payment_discount_amount">折扣金額</label>
                                <p>NT${{isDiscount}}</p>
                            </li>

                            <span class="payment_line"></span>

                            <li class="payment_price_selection">
                                <label for="payment_total_price">折扣後總價</label>
                                <p>NT${{isSubTotal}}</p>
                            </li>

                            <li>
                                <a href="done.html">
                                    <input type="button" value="立即付款" src="done.html">
                                </a>
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <!-- 以下Footer區域 -->
    @@include('./layout/footer.html')

    <!-- 以下共用外接js區域 -->
    @@include('./layout/js.html')
    
    <script src="./js/payment.js"></script>


</body>

</html>