<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>行程總覽</title>
    @@include('./layout/style.html')
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>
    <!-- 以下Header區域 -->
    @@include('./layout/header.html',{
    product:'active'
    })
    <!-- 以下是top button -->
    @@include('./layout/topBtn.html')

    <!-- 以下可以開始編輯 -->

    <div class="product wrapper">

        <div class="container" id="pdt">

            <!-- 側邊欄位 -->


            <aside class="left">

                <!-- 關鍵字搜尋 -->
                <div class="sidebar">
                    <div class="content-wrapper">

                        <form action="post">
                            <div class="search">
                                <div class="search-text">
                                    <input type="text" class="search-bar" v-model.lazy="searchInput" id="search"
                                        placeholder="輸入名稱">
                                    <button class="search-btn"><svg width="20px" height="20px"
                                            xmlns="http://www.w3.org/2000/svg"
                                            viewBox="0 0 512 512"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                                            <path
                                                d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z" />
                                        </svg></button>
                                </div>

                                <div class="accordion">
                                    <div class="check-box">
                                        <div class="contentBx">
                                            <div class="label">
                                                <h4>篩選目的地</h4>
                                            </div>
                                            <div class="content">
                                                <label for="checkbox1">
                                                    <input type="checkbox" id="checkbox1" value="1" name="region">東京
                                                </label><br>
                                                <label for="checkbox2">
                                                    <input type="checkbox" id="checkbox2" value="2" name="region">神奈川
                                                </label><br>
                                                <label for="checkbox3">
                                                    <input type="checkbox" id="checkbox3" value="3" name="region">埼玉
                                                </label><br>
                                                <label for="checkbox4">
                                                    <input type="checkbox" id="checkbox4" value="4" name="region">茨城
                                                </label><br>
                                                <label for="checkbox5">
                                                    <input type="checkbox" id="checkbox5" value="5" name="region">千葉
                                                </label><br>
                                                <label for="checkbox6">
                                                    <input type="checkbox" id="checkbox6" value="6" name="region">群馬
                                                </label><br>
                                                <label for="checkbox7">
                                                    <input type="checkbox" id="checkbox7" value="7" name="region">栃木
                                                </label>
                                            </div>
                                        </div>
                                    </div>


                                    <!-- 活動類別搜尋 -->

                                    <div class="check-box2">
                                        <div class="contentBx">
                                            <div class="label">
                                                <h4>所有商品類別</h4>
                                            </div>
                                            <div class="content">
                                                <label for="checkbox8">
                                                    <input type="checkbox" id="checkbox8" value="1" name="typeName">一日遊
                                                </label><br>
                                                <label for="checkbox9">
                                                    <input type="checkbox" id="checkbox9" value="2" name="typeName">景點門票
                                                </label><br>
                                                <label for="checkbox10">
                                                    <input type="checkbox" id="checkbox10" value="3" name="typeName">主題樂園
                                                </label><br>
                                                <label for="checkbox11">
                                                    <input type="checkbox" id="checkbox11" value="4" name="typeName">歷史景點
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- 日期搜尋 -->

                                    <div class="search-day">
                                        <div class="contentBx">
                                            <div class="p-calender"></div>
                                            <div class="label">
                                                <h4>篩選出發日期</h4>
                                            </div>
                                            <div class="content">
                                                <div class="calendar">
                                                    <div class="calendar-header">
                                                        <div class="calendar-header-item prev-month">&lt;</div>
                                                        <div class="calendar-header-item current-month"></div>
                                                        <div class="calendar-header-item next-month">&gt;</div>
                                                    </div>
                                                    <div class="calendar-body">
                                                        <div class="calendar-weekdays">
                                                            <div class="calendar-weekday">日</div>
                                                            <div class="calendar-weekday">一</div>
                                                            <div class="calendar-weekday">二</div>
                                                            <div class="calendar-weekday">三</div>
                                                            <div class="calendar-weekday">四</div>
                                                            <div class="calendar-weekday">五</div>
                                                            <div class="calendar-weekday">六</div>
                                                        </div>
                                                        <div class="calendar-days"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <!-- 價錢搜尋 -->

                                    <div class="search-price">
                                        <div class="contentBx">
                                            <div class="label">
                                                <h4>價錢 (TWD)</h4>
                                            </div>
                                            <div class="content">
                                                <input type="range" min="0" max="3000" v-model="maxPrice" class="slider" id="slider" @change="applyFilters">
                                                <div id="value">{{ maxPrice }}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </aside>

            <article class="right">
                <div class="top-column">
                    <p>{{productCount}} 項體驗行程</p>
                </div>
                <div class="big-area">
                    <ul>
                        <li v-for="item in paginatedItems">
                            <div class="jpg">
                                <img :src="'./image/productPage/'+ item.ID + '/' + item.Banner1" alt="">
                            </div>

                            <div class="word">
                                <div class="title-h">
                                    <h3>{{item.Name}}</h3>
                                    <button class="heart-btn"><i class="fa-regular fa-heart"
                                            style="color: #000000; font-size: 2em;"></i></button>
                                </div>
                                <p class="p-content">{{item.Content}}</p>
                                <div class="only-btn">
                                    <p class="p-targ" v-if="item.UseNow">即買即用</p>
                                    <p class="p-targ1" v-else></p>
                                    <button class='btn-pri-m' class="btn-n">
                                        <a :href="'./productPage.html?id=' + item.ID">查看詳情</a>
                                    </button>
                                </div>
                                <div class="star-p">
                                    <div class="star">
                                        <img src="image/product/star.png" alt="">
                                    </div>
                                    <div class="price">TWD {{numberWithCommas(item.Price)}}</div>
                                </div>
                                <div class="rwd-star">
                                    <img src="image/product/star.png" alt="">
                                    <button class='btn-pri-m' class="btn-n">
                                        <a href="./productPage.html">查看詳情</a>
                                    </button>
                                </div>
                                <div class="rwd-both">
                                    <div class="rwd-price">TWD 1,500</div>
                                </div>
                            </div>
                        </li>
                    </ul>

                </div>

                <div class="page">
                    <ul>
                        <li @click="goToPage(page)" v-for="page in totalPages" :key="page"><a>{{page}}</a></li>
                    </ul>
                </div>
                  
                  

            </article>

        </div>

    </div>

    <!------------ RWD區域 ------------>







    <!-- 以下Footer區域 -->
    @@include('./layout/footer.html')

    <!-- 以下共用外接js區域 -->
    @@include('./layout/js.html')
    <script src="./js/product.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>







</body>

</html>