<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>住宿推薦</title>
    <script src="https://unpkg.com/akar-icons-fonts"></script>
    @@include('./layout/style.html')
</head>

<body>
    <!-- 以下Header區域 -->
    @@include('./layout/header.html',{
    room:'active'
    })
    <!-- 以下是top button -->
    @@include('./layout/topBtn.html')

    <!-- 以下可以開始編輯 -->

    <section class="roomBlog-banner">
        <!-- <div class="banner-text">
                <h2>讓我們去旅行吧</h2>
                <h4>撐過這艱辛的課程</h4>
                <h4>各位該好好放鬆了!</h4>
            </div> -->
    </section>

    <div id="rbg">
        
        <section class="place container ">
            <ul>
                <li><a  class="btn-sec-l" id="region" value="1" @click="handleClick">東京都</a></li>
                <li><a  class="btn-sec-l" id="region" value="2" @click="handleClick">神奈川縣</a></li>
                <li><a  class="btn-sec-l" id="region" value="5" @click="handleClick">千葉縣</a></li>
                <li><a  class="btn-sec-l" id="region" value="3" @click="handleClick">埼玉縣</a></li>
                <li><a  class="btn-sec-l" id="region" value="6" @click="handleClick">群馬縣</a></li>
                <li><a  class="btn-sec-l" id="region" value="7" @click="handleClick">栃木縣</a></li>
                <li><a  class="btn-sec-l" id="region" value="4" @click="handleClick">茨城縣</a></li>
            </ul>
        </section>

        <section class="roomBlogTop container">
            <div class="top_pics">
                <div class="image_switch">
                    <img class="image active" src="image/roomBlog/mid3.jpg" alt="" data-index="0">
                    <img class="image" src="image/roomBlog/mid4.jpg" alt="" data-index="1">
                    <img class="image" src="image/roomBlog/mid5.jpg" alt="" data-index="2">
                    <img class="image" src="image/roomBlog/mid6.jpg" alt="" data-index="3">
                </div>

                <img class="top_right" src="image/roomBlog/mid2.png" alt="">

            </div>
            <h1>{{selectedRegionName}}</h1>
        </section>


        <section class="roomBlog container">
            <!-- <div class="main-room"> -->
            <ul class="main-room">
                <li v-for="item in paginatedRoomBlogs">
                    <div class="box">
                        <div class="room">
                            <img :src="'./image/roomBlog/' + item.Image" alt="">
                            <iframe class="map" :id="'map-' + item.ID" :src="item.MapUrl" width="600" height="450" style="border:0;"
                                allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                        <div class="words">
                            <h4>{{item.Title}}</h4>
                            <i class="ai-check-in" @click="toggleMap('map-' + item.ID)" :data-map="'map-' + item.ID"></i>
                            <p><strong>聯繫方式:</strong></p>
                            <p>{{item.Phone}}</p>
                            <p>MAIL:{{item.Email}}</p>
                            <p><strong>評價:</strong></p>
                            <p>{{item.Review}}</p>

                        </div>
                    </div>
                </li>
            </ul>
        </section>

        <!--分頁按鈕-->
        <section class="container pagebtn">
            <div class="btn">
                <a class="btn-pri-l" @click="changePage(page)" v-for="page in totalPages" :key="page">{{page}}</a>
            </div>
        </section>
    </div>


    <!-- 以下Footer區域 -->
    @@include('./layout/footer.html')

    <!-- 以下共用外接js區域 -->
    @@include('./layout/js.html')
    <script src="js/room.js"></script>
</body>

</html>