<footer>
    <div class="container">
        <div>
            <a href="index.html"><img class="logo" src="image/footer/logosqure.svg"></a>
            <div class="social">
                <a class="icon fb" target="_blank" href="https://www.facebook.com/facebook/?locale=zh_TW"><i class="ai-facebook-fill"></i></a>
                <a class="icon ig" target="_blank" href="https://www.instagram.com/"><i class="ai-instagram-fill"></i></a>
            </div>
        </div>

        <ul class="links">
            <li class="link-left">
                <ol>
                    <a href="about.html">
                        <li>-- 關於我們</li>
                    </a>
                    <a href="blog.html">
                        <li>-- 旅遊專欄</li>
                    </a>
                    <a href="foodBlog.html">
                        <li>-- 美食介紹</li>
                    </a>
                    <a href="roomBlog.html">
                        <li>-- 訂房推薦</li>
                    </a>
                        <li>-- 付款方式</li>
                    <li><img class="pay" src="image/footer/visa.png" alt="">
                        <img class="pay" src="image/footer/imastercard.png" alt="">
                        <img class="pay" src="image/footer/jcb.png" alt="">
                    </li>
                </ol>
            </li>
            <li class="link-right">
                <ol>
                    <a href="blog.html">
                        <li>-- 想去關東的哪?</li>
                    </a>
                    <a href="product.html">
                        <li>-- 想排什麼行程&活動?</li>
                    </a>
                    <a href="game.html">
                        <li>-- 最適合你的旅行</li>
                    </a>
                    <a href="fqa.html">
                        <li>-- 常見問題</li>
                    </a>
                        <li>-- 訂閱最新消息</li>
                    <li>
                        <form action="">
                            <input id="emailInput" type="email" placeholder="email">
                            <button id="email" type="submit"><i class="ai-arrow-right"></i></button>
                        </form>
                    </li>
                </ol>
            </li>
        </ul>
        <ul class="mobile">
            <li>-- 聯絡我們</li>
            <li>台北市中正區濟南路一段</li>
            <li>(02) 2256-8888</li>
            <li>service@kanto.com</li>
        </ul>
    </div>
    <!-- container -->
    <p>COPYRIGHT © 2023 Kanto へ.</p>
</footer>