<header>
    <div class="container">
            <a href="index.html">
                <img src="image/header/logo.svg">
            </a>
            <!-- 漢堡線 -->
            <i id="ham" class="ai-three-line-horizontal"></i>
            <!-- 叉叉 -->
            <i id="cross" class="ai-cross"></i>


            <div class="nav-bar">
                <ul class="nav">
                    <li><a href="about.html" class="@@about">關於我們</a></li>
                    <li><a href="blog.html" class="@@blog">旅遊專欄</a></li>
                    <li><a href="product.html" class="@@product">行程總覽</a></li>
                    <li><a href="foodBlog.html" class="@@food">美食名單</a></li>
                    <li><a href="roomBlog.html" class="@@room">住宿推薦</a></li>
                    <li><a href="game.html" class="@@game">找靈感</a></li>
                    <li><a href="fqa.html" class="@@fqa">常見問題</a></li>
                </ul>
                <ul class="nav-btn">
                    <li class="member-login @@login"><a href="loginRegister.html">會員登入</a></li>
                    <li class="member-center @@member"><a href="member.html">會員中心</a></li>
                    <li class="@@cart"><a href="cart.html">購物車(0)</a></li>
                </ul>
            </div>
    </div>

</header>
