<!-- =================== 訂單管理 =================== -->
<section class="box order" v-if="current_tab === 'order'">
    <p class="noOrder" v-if="!orderExist">無訂單項目</p>
    <div class="block" v-for="(order, index) in myOrder" :key="index">
        <div class="detail">
            <div class="pImg"><img :src="orderIMGUrl+order.ProductID+'/'+order.Banner1"></div>
            <div class="pInfo">
                <h4>{{order.Name}}</h4> <br>
                <p>訂單編號：{{order.OrderNumber}}</p>
                <p>日期：{{order.OfferDate}}</p>
            </div>
            <div class="pPrice">
                <h4>{{ departureStatus(order.OfferDate) }}</h4>
                <p>NTD {{order.Price}}</p>
                <ul class="orderOption">
                    <li v-if="departureStatus(order.OfferDate) === '即將出發'"><button class="cancel"
                            @click="doCancel(order.OrderNumber)">取消訂單</button></li>
                    <li v-if="departureStatus(order.OfferDate) === '已出發' && order.Reviewed !== 1"><button class="review"
                            @click="toggleReview(order)">撰寫評論</button></li>
                    <li v-if="order.Reviewed === 1"><button @click="toggleReviewDetail(order)" ref="reviewButton" :id="order.OrderNumber">查看評論</button></li>
                    <li><button class="contact"
                            @click="showService = true; currentOrderNumber = order.OrderNumber">聯絡客服</button></li>
                </ul>
            </div>
        </div>
        <div class="reviewArea" v-if="order.showReview">
            <ul class="reviewStar">
                <li :class="{'starOn': review.star >= 1}" @click="reviewStar(1)"><i class="fa-solid fa-star"></i></li>
                <li :class="{'starOn': review.star >= 2}" @click="reviewStar(2)"><i class="fa-solid fa-star"></i></li>
                <li :class="{'starOn': review.star >= 3}" @click="reviewStar(3)"><i class="fa-solid fa-star"></i></li>
                <li :class="{'starOn': review.star >= 4}" @click="reviewStar(4)"><i class="fa-solid fa-star"></i></li>
                <li :class="{'starOn': review.star >= 5}" @click="reviewStar(5)"><i class="fa-solid fa-star"></i></li>
            </ul>

            <textarea v-model="review.reviewText" class="textareaStyle" placeholder="請輸入您的評論(最多200字)"
                maxlength="200"></textarea> <br>
            <div class="area">
                <div class="box2">
                    <label for="reviewIMG"><i class="ai-plus"></i></label>
                    <input type="file" id="reviewIMG" multiple accept="image/*" @change="previewImages">
                    <div class="reviewIMGBox" v-for="image in previewImagesList" :key="image.id">
                        <img :src="image.previewUrl" :alt="image.name" />
                    </div>
                </div>

            </div>
            <button @click="doReview(order)" >送出</button>
        </div>
    </div>
</section>

<!-- =================== 查看評論內容 =================== -->
<section class="reviewDetailBox" v-if="showReviewDetail">
    <div class="reviewDetail" v-for="(item, index) in reviewDetail" :key="index">
        <span @click="closeReviewDetail(item.OrderDetailID)" :id="'close'+item.OrderDetailID"><i class="ai-cross"></i></span>
        <p class="orderNUM">訂單編號：{{currentOrderNumber}}</p>
        <ul class="reviewStar">
            <li :class="{'starOn': item.Star >= 1}"><i class="fa-solid fa-star"></i></li>
            <li :class="{'starOn': item.Star >= 2}"><i class="fa-solid fa-star"></i></li>
            <li :class="{'starOn': item.Star >= 3}"><i class="fa-solid fa-star"></i></li>
            <li :class="{'starOn': item.Star >= 4}"><i class="fa-solid fa-star"></i></li>
            <li :class="{'starOn': item.Star >= 5}"><i class="fa-solid fa-star"></i></li>
        </ul>
        <p>我的評論：</p>
        <p class="reviewText">{{ item.Text }}</p>
        <div class="reviewIMGBox" v-if="item.Image1 !== null"><img :src="'image/productPage/'+item.ProductID+'/reviewPhoto/'+item.Image1"></div>
        <div class="reviewIMGBox" v-if="item.Image2 !== null"><img :src="'image/productPage/'+item.ProductID+'/reviewPhoto/'+item.Image2"></div>
        <div class="reviewIMGBox" v-if="item.Image3 !== null"><img :src="'image/productPage/'+item.ProductID+'/reviewPhoto/'+item.Image3"></div>
        <div class="reviewIMGBox" v-if="item.Image4 !== null"><img :src="'image/productPage/'+item.ProductID+'/reviewPhoto/'+item.Image4"></div>
        <div class="reviewIMGBox" v-if="item.Image5 !== null"><img :src="'image/productPage/'+item.ProductID+'/reviewPhoto/'+item.Image5"></div>
        <div class="reviewIMGBox" v-if="item.Image6 !== null"><img :src="'image/productPage/'+item.ProductID+'/reviewPhoto/'+item.Image6"></div>
    </div>
</section>

<!-- =================== 聯絡客服 =================== -->
<section class="serviceBox" v-if="showService">
    <div class="service">
        <span @click="showService = false"><i class="ai-cross"></i></span>
        <div class="serviceForm">
            <p>訂單編號：{{currentOrderNumber}}</p>
            <ul>
                <li>
                    <label for="contactID">全名</label>
                    <input type="text" id="contactID" class="textStyle" placeholder="請輸入您的全名" v-model="contactID">
                </li>

                <li>
                    <label for="contactEmail">電子信箱</label>
                    <input type="email" id="contactEmail" class="textStyle" placeholder="請輸入您的電子信箱"
                        v-model="contactEmail">
                    <div v-if="!isValidEmail" class="errorMsg">請輸入有效的電子郵件地址。</div>
                </li>

                <li>
                    <label for="contactPhone">手機號碼</label>
                    <input type="text" id="contactPhone" class="textStyle" placeholder="請輸入您的手機號碼"
                        v-model="contactPhone">
                </li>

                <li>
                    <textarea name="" id="contactText" class="textareaStyle" placeholder="請輸入您的訊息"
                        v-model="contactText"></textarea>
                </li>
            </ul>
            <input type="button" class="submitBtn" value="送出" @click="showService = false; sendEmail(); deleteContactInfo()"
                :disabled="contactID == '' || contactEmail == '' || contactPhone == '' || contactText == ''">
        </div>
    </div>
</section>