<!-- =================== 帳號設定 =================== -->
<section class="box coupon" v-if="current_tab === 'coupon'">
    <div class="searchCoupon">
        <div class="couponForm">
            <input type="text" class="textStyle" placeholder="請輸入折扣碼兌換" v-model="couponNum"><input type="button" value="兌換" class="couponBtn" @click="doCoupon">
        </div>
        <a href="game.html" target="_blank">找靈感領取優惠券</a>
    </div>

    <p class="couponList">可使用的優惠券(請於結帳時選擇想使用的優惠券)</p>
    <p class="couponUse" v-if="couponExist" v-for="(coupon, index) in memberCoupon" :key="index">{{coupon.CouponName}}</p>
</section>