<!-- =================== 帳號設定 =================== -->
<section class="box account" v-if="current_tab === 'account'">
    <div class="info">
        <h4>會員資料</h4>
        <form action="">
            <ul>
                <li>
                    <label>會員帳號</label>
                    <input type="text" disabled value="會員帳號不可更動" class="textStyle">
                </li>

                <li>
                    <label for="fullname">全名</label>
                    <input type="text" id="fullname" placeholder="請輸入您的全名" class="textStyle" required>
                </li>

                <li>
                    <label for="gender">性別</label>
                    <select name="gender" id="gender" required>
                        <option value="male">男性</option>
                        <option value="female">女性</option>
                    </select>
                </li>

                <li>
                    <label for="phone">手機號碼</label>
                    <input type="text" id="phone" placeholder="請輸入您的手機號碼" class="textStyle" required>
                </li>
            </ul>

            <button type="submit">儲存</button>
        </form>
    </div>

    <div class="pwChange">
        <h4>變更密碼</h4>
        <form action="">
            <ul>
                <li>
                    <label for="oldPW">舊密碼</label>
                    <input type="password" id="oldPW" class="textStyle" placeholder="請輸入您現在的密碼" required>
                </li>

                <li>
                    <label for="newPW">新密碼</label>
                    <input type="password" id="newPW" class="textStyle" placeholder="請輸入新的密碼" required>
                </li>


                <li>
                    <label for="confirmPW">確認新密碼</label>
                    <input type="password" id="confirmPW" class="textStyle" placeholder="請再次輸入新密碼" required>
                </li>
            </ul>

            <button type="submit">修改</button>
        </form>
    </div>

    <div class="pw"></div>
</section>