<!-- =================== 我的收藏 =================== -->
<section class="box collection" v-if="current_tab === 'collect'">
    <a href="#" class="block">
        <div class="detail">
            <div class="pImg"><img src="image/member/p1.jpg"></div>
            <div class="pInfo">
                <h4>鎌倉一日遊</h4> <br>
                <p>從東京出發搭乘巴士輕鬆一日遊，無需換乘從東京出發搭乘巴士輕鬆一日遊，無需換乘，一天打卡多個網紅地點，景點多多，重溫動漫經典，聖地巡禮。重溫動漫經典，聖地巡禮。重溫動漫經典，聖地巡禮。</p>
                <ul>
                    <li><i class="ai-star"></i></li>
                    <li><i class="ai-star"></i></li>
                    <li><i class="ai-star"></i></li>
                    <li><i class="ai-star"></i></li>
                    <li><i class="ai-star"></i></li>
                </ul>
            </div>
            <div class="pPrice">
                <h4><i class="fa-solid fa-heart"></i></h4>
                <p>NTD 390</p>
            </div>
        </div>
    </a>
</section>