<!-- =================== 訂單管理 =================== -->
<section class="box order" v-if="current_tab === 'order'">
    <div class="block">
        <div class="detail">
            <div class="pImg"><img src="image/member/p1.jpg"></div>
            <div class="pInfo">
                <h4>鎌倉一日遊</h4> <br>
                <p>訂單編號：111</p>
                <p>日期：2023-04-23</p>
            </div>
            <div class="pPrice">
                <h4>即將出發</h4>
                <p>NTD 390</p>
                <ul class="orderOption">
                    <li><button class="cancel">取消訂單</button></li>
                    <li style="display: none;"><button class="review">撰寫評論</button></li>
                    <li><button class="contact" @click="showService = true">聯絡客服</button></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="block">
        <div class="detail">
            <div class="pImg"><img src="image/member/p2.jpg"></div>
            <div class="pInfo">
                <h4>富士山一日遊</h4> <br>
                <p>訂單編號：33</p>
                <p>日期：2023-04-25</p>
            </div>
            <div class="pPrice">
                <h4>已出發</h4>
                <p>NTD 390</p>
                <ul class="orderOption">
                    <li style="display: none;"><button class="cancel">取消訂單</button></li>
                    <li><button class="review" @click="toggleReview">撰寫評論</button></li>
                    <li><button class="contact" @click="showService = true">聯絡客服</button></li>
                </ul>
            </div>
        </div>

        <div class="reviewArea" v-if="showReview">
            <form action="">
                <ul class="reviewStar">
                    <li><i class="ai-star"></i></li>
                    <li><i class="ai-star"></i></li>
                    <li><i class="ai-star"></i></li>
                    <li><i class="ai-star"></i></li>
                    <li><i class="ai-star"></i></li>
                </ul>

                <textarea name="" id="" class="textareaStyle" placeholder="請輸入您的評論"></textarea> <br>
                <div class="area">
                    <div class="box2">
                        <label for="reviewIMG"><i class="ai-plus"></i></label>
                        <input type="file" id="reviewIMG" multiple accept="image/*">
                        <div class="reviewIMGBox"><img src="image/member/p1.jpg"></div>
                        <div class="reviewIMGBox"><img src="image/member/p2.jpg"></div>
                        <div class="reviewIMGBox"><img src="image/blog/travel_3.png"></div>
                    </div>
                    <button type="submit">送出</button>
                </div>
            </form>
        </div>
    </div>
</section>

<!-- =================== 聯絡客服 =================== -->
<section class="serviceBox" v-if="showService">
    <div class="service">
        <span @click="showService = false"><i class="ai-cross"></i></span>
        <form action="">
            <p>訂單編號：111</p>
            <ul>
                <li>
                    <label for="contactID">全名</label>
                    <input type="text" id="contactID" class="textStyle" placeholder="請輸入您的全名" required>
                </li>

                <li>
                    <label for="contactEmail">電子信箱</label>
                    <input type="email" id="contactEmail" class="textStyle" placeholder="請輸入您的電子信箱" required>
                </li>

                <li>
                    <label for="contactPhone">手機號碼</label>
                    <input type="text" id="contactPhone" class="textStyle" placeholder="請輸入您的手機號碼" required>
                </li>

                <li>
                    <textarea name="" id="contactText" class="textareaStyle" placeholder="請輸入您的訊息"></textarea>
                </li>
            </ul>
            <button type="submit">送出</button>
        </form>
    </div>
</section>