<!-- =================== 帳號設定 =================== -->
<section class="box account" v-if="current_tab === 'account'">
    <div class="info">
        <h4>會員資料</h4>
        <div class="accountForm">
            <ul>
                <li>
                    <label>會員帳號</label>
                    <p class="textStyle">{{user}}</p>
                </li>

                <li>
                    <label for="fullname">全名</label>
                    <input type="text" id="fullname" placeholder="請輸入您的全名" class="textStyle"
                        :value="accountInfo.FullName" @change="updateFullName">
                </li>

                <li>
                    <label for="gender">性別</label>
                    <select name="gender" id="gender" :value="accountInfo.Gender" @change="updateGender">
                        <option value="none">請選擇</option>
                        <option value="male">男性</option>
                        <option value="female">女性</option>
                    </select>
                </li>

                <li>
                    <label for="phone">手機號碼</label>
                    <input type="text" id="phone" placeholder="請輸入您的手機號碼" class="textStyle" :value="accountInfo.Phone" @change="updatePhone">
                    <div v-if="!isValidPhone" class="errorMsg">請輸入正確的手機號碼，例如: 0900123456</div>
                </li>
            </ul>

            <input type="button" value="儲存" @click="doAccountSave" id="accountSave" :disabled="!isValidPhone || accountInfo.Gender === 'none'">
        </div>
    </div>

    <div class="pwChange">
        <h4>變更密碼</h4>
        <div class="pwChangeForm">
            <ul>
                <li>
                    <label for="oldPW">舊密碼</label>
                    <input type="password" id="oldPW" class="textStyle" placeholder="請輸入您現在的密碼" v-model="pwChange.currentPW">
                </li>

                <li>
                    <label for="newPW">新密碼</label>
                    <input type="password" id="newPW" class="textStyle" placeholder="請輸入新的密碼" v-model="pwChange.newPW">
                    <div v-if="!isValidPwLength" class="errorMsg">密碼至少需要4個字元。</div>
                </li>


                <li>
                    <label for="confirmPW">確認新密碼</label>
                    <input type="password" id="confirmPW" class="textStyle" placeholder="請再次輸入新密碼" v-model.lazy="pwChange.newPWCheck" @change="newPWCheck">
                    <div v-if="!isPasswordMatch" class="errorMsg">您再次輸入的密碼有誤</div>
                </li>
            </ul>

            <input type="button" value="修改" class="pwChangeBtn" :disabled="!isPasswordMatch || !isValidPwLength || pwChange.currentPW == ''" @click="changePW">
        </div>
    </div>

    <div class="pw"></div>
</section>