div.blogpage_banner {
    background-image: url(../../image/blogPage/banner.jpg);
    max-width: 100%;
    height: 0;
    padding-top: 30%;
    // height: 600px;
    background-size: cover;
    background-position: 32% center;
    @include m(){
        display: none;
    }
}

//手機板的部分----------------------------------
div.phone_blogpage_banner{
    display: none;
}


@media screen and (max-width:415px){
    div.phone_blogpage_banner{
        display: block;
        background-image: url(../../image/blogPage/phone_banner.png);
        max-width: 100%;
        height: 100vh;
        background-size: cover;
        position: relative;
        div.pic{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    }
}

div.blog_phone_event{
    display: none;
}
@media screen and (max-width:415px){
    div.blog_phone_event{
        display: block;
        h3{
            text-align: center;
            margin-top: 20px;
            font-weight: 600;
        }

        div.event{
            margin-top: 40px;
            div.event_text{
                margin-top: 20px;
                border: 1px solid rgb(131, 131, 131);
                padding: 15px 5px;
                position: relative;
                // display: flex;
                // align-items: center;
                div.time{
                    position: absolute;
                    display: flex;
                    align-items: center;
                    top: 50%;
                    transform: translate(0,-50%);
                    left: 10px;
                    p{
                        font-size: 16px;
                        margin-left: 5px;
                    }
                    div.phone_circle{
                        width: 15px;
                        height: 15px;
                        background-color: #C73E3A;
                        border-radius: 50%;
                    }

                }
                h4{
                    text-align: center;
                    font-size: 20px;
                }
            }

            div.pic{
                margin-top: 20px;
                width: 100%;
                height: 224px;
                img{
                    width: 100%;
                    object-fit: cover;
                    height: 100%;
                }
            }

            div.content{
                margin-top: 10px;
            }
        }

        .block1{
            margin-top: 20px !important;
        }
    }
}


//上方title---------------------------------
div.blogpage_title {
    @include m(){
        display: none;
    }

    position: relative;


    div.title_wrapper {
        margin-top: 100px;
        margin-bottom: 50px;

        div.title_main {
            display: flex;
            justify-content: center;
            // align-items: center;

            div.content {
                margin-top: 80px;
                // margin-right: 2%;
                // width: 48%;

                h2 {
                    font-weight: 600;
                    font-size: 64px;
                    position: relative;
                    &::before{
                        content:"";
                        width: 300px;
                        height: 120px;
                        display: block;
                        background-color: rgb(255, 255, 255);
                        position: absolute;
                        z-index: -1;
                        top: 20px;
                        left: 40px;
                    }
                    &::after{
                        content: "";
                        width: 100px;
                        height: 100px;
                        display: block;
                        background-color: #c1c1c1;
                        opacity: .3;
                        position: absolute;
                        top: -20px;
                        z-index: -2;
                    }
                }

                ul {
                    margin-top: 50px;

                    li {
                        font-size: 24px;
                        line-height: 1.5;
                    }
                }
            }

            div.pic {
                margin-left: 2%;
                width: 48%;

                img {
                    width: 100%;
                }
            }
        }
    }
}





//行程介紹-------------------------------------------------
div.blogevent {
    @include m(){
        display: none;
    }
    padding-top: 100px;

    div.title {

        h2 {
            text-align: center;
            font-weight: 600;
        }
    }


    section.event_block {
        margin-top: 50px;

        //飛機
        #plane-set{
            position: absolute; 
            z-index: -100;

            @include m(){
                display: none;
            }

            #scrollArea{
                width: 1200px;
                height: 0;
                position: relative;
                opacity: 0;
                overflow: hidden;
    
                svg{
                    position: absolute;
                    left: 0;
                    top: 0;
                }
        
            }

            #airplane{
                transform-origin: 50% 50%;
                position: absolute;
                width: 46px;
                height: 64px;
                top: 0;
                left: 0;

                opacity: 0;

                img{
                    width: 100%;
                    display: block;
                }
        
            }
    
        }


        //活動一
        div.event_block1 {
            // padding-bottom: 100px;
            display: flex;

            // padding-bottom: 50px;
            div.circle_line {
                width: 25%;
                display: flex;
                position: relative;

                div.line {
                    width: 2px;
                    height: 0%;
                    background-color: black;
                    position: absolute;
                    z-index: -1;
                    left: 9px;
                    top: 1px;
                    transition: .7s;
                }

                div.circle {
                    width: 20px;
                    height: 20px;
                    background-color: #C73E3A;
                    border-radius: 50%;
                    opacity: 0;
                    transition: .5s;
                    transform: scale(0);
                }

                ul.aside_content {
                    margin-top: 20px;
                    opacity: 0;
                    transition: .5s;
                    li {

                        font-size: 20px;
                        margin-left: 10px;
                        margin-bottom: 5px;
                    }
                }
            }

            div.event_content {
                width: 75%;

                div.pic {
                    margin-top: 50px;
                    width: 50%;
                    margin-bottom: 80px;

                    img {
                        width: 100%;
                    }
                }

                // div.height {
                //     height: 80px;
                // }
            }
        }


        //活動二
        div.event_block2 {
            display: flex;

            div.circle_line {
                width: 25%;
                display: flex;
                position: relative;

                div.line {
                    width: 2px;
                    height: 0%;
                    background-color: black;
                    position: absolute;
                    z-index: -1;
                    left: 9px;
                    top: 1px;
                    transition: .7s;
                }

                div.circle {
                    width: 20px;
                    height: 20px;
                    background-color: #C73E3A;
                    border-radius: 50%;
                    opacity: 0;
                    transition: .5s;
                    transform: scale(0);
                }
                ul.aside_content{
                    margin-top: 20px;
                    opacity: 0;
                    transition: .5s;
                    li {
                        font-size: 20px;
                        margin-left: 10px;
                        margin-bottom: 5px;
                    }
                }
            }

            div.event_content {
                width: 75%;
                display: flex;
                // align-items: center;
                justify-content: space-between;

                div.content {
                    margin-top: 160px;
                    width: 40%;

                    p {
                        font-size: 20px;
                        margin-right: 20px;
                        line-height: 1.5;

                    }
                }

                div.pic {
                    margin-top: 80px;
                    width: 60%;
                    margin-bottom: 80px;

                    img {
                        width: 100%;
                    }
                }
            }

        }


        //活動三
        div.event_block3 {

            display: flex;

            div.circle_line {
                width: 25%;
                display: flex;
                position: relative;
                div.line {
                    width: 2px;
                    height: 0%;
                    background-color: black;
                    position: absolute;
                    z-index: -1;
                    left: 9px;
                    top: 1px;
                    transition: .7s;
                }

                div.circle {
                    width: 20px;
                    height: 20px;
                    background-color: #C73E3A;
                    border-radius: 50%;
                    opacity: 0;
                    transition: .5s;
                    transform: scale(0);
                }

                ul.aside_content{
                    margin-top: 20px;
                    transition: .5s;
                    opacity: 0;
                    li {
                        font-size: 20px;
                        margin-left: 10px;
                        margin-bottom: 5px;
                    }
                }
            }

            div.event_content {
                width: 75%;
                display: flex;
                // align-items: center;
                justify-content: space-between;

                div.content {
                    margin-top: 120px;
                    width: 35%;
                    margin-left: 20px;

                    p {
                        font-size: 20px;
                        margin-right: 10px;
                        line-height: 1.5;
                    }
                }

                div.pic {
                    margin-top: 50px;
                    width: 65%;
                    margin-bottom: 80px;

                    img {
                        width: 100%;
                    }
                }
            }

        }


        //活動四
        div.event_block4 {

            display: flex;

            div.circle_line {
                width: 25%;
                display: flex;
                position: relative;

                div.line {
                    width: 2px;
                    height: 0%;
                    background-color: black;
                    position: absolute;
                    z-index: -1;
                    left: 9px;
                    top: 1px;
                    transition: .7s;
                }

                div.circle {
                    width: 20px;
                    height: 20px;
                    background-color: #C73E3A;
                    border-radius: 50%;
                    opacity: 0;
                    transition: .5s;
                    transform: scale(0);
                }

                ul.aside_content{
                    margin-top: 20px;
                    transition: .5s;
                    opacity: 0;
                    li {
                        font-size: 20px;
                        margin-left: 10px;
                        margin-bottom: 5px;
                    }
                }
            }

            div.event_content {
                width: 75%;


                div.content {

                    width: 80%;
                    margin: 0 auto;
                    margin-top: 15px;


                    p {
                        font-size: 20px;
                        margin-right: 10px;
                        line-height: 1.5;
                        margin-bottom: 50px;
                    }
                }

                div.pic {

                    width: 80%;
                    margin: 0 auto;
                    margin-top: 80px;


                    img {
                        width: 100%;
                    }
                }
            }

        }


        div.event_block5 {

            display: flex;

            div.circle_line {
                width: 25%;
                display: flex;
                position: relative;

                // div.line {
                //     width: 2px;
                //     height: 0%;
                //     background-color: black;
                //     position: absolute;
                //     z-index: -1;
                //     left: 9px;
                //     top: 1px;
                //     transition: .7s;
                // }

                div.circle {
                    width: 20px;
                    height: 20px;
                    background-color: #C73E3A;
                    border-radius: 50%;
                    opacity: 0;
                    transition: .5s;
                    transform: scale(0);
                }

                ul.aside_content{
                    // margin-top: 20px;
                    opacity: 0;
                    transition: .5s;
                    li {
                        font-size: 20px;
                        margin-left: 10px;
                        margin-bottom: 5px;
                    }
                }
            }



        }
    }
}



//旅行注意事項--------------------------------------------------------

div.blogpage_remind {
    margin-top: 100px;
    margin-bottom: 100px;
    @include m(){
        margin-top: 50px;
     }

    div.remind_inner {
        max-height: 400px;
        overflow-y: scroll;
        width: 80%;
        margin: 0 auto;
        border: 1px solid black;
        padding: 20px 30px;
        box-sizing: border-box;
        @include m(){
           width: 100%;
        }

        div.title{
            width: 46%;
            text-align: center;
            vertical-align: middle;
            display: inline-block;
            @include m(){
                display: none;
            }
        }

        div.table{
            width: 52%;
            display: inline-block;
            vertical-align: middle;
            @include m(){
                width: 100%;
             }
            table{
                width: 95%;
                tbody{

                    tr{

                        width: 100%;
                        border-bottom: 1px solid rgb(199, 199, 199);
                        th{
                            width: 20%;
                            text-align: left;
                            padding: 15px 0;
                            font-size: 16px;
                            line-height: 1.4;
                            @include m(){
                                width: 25%;;
                             }
                        }
                        td{
                            width: 75%;
                            padding: 15px 0px;
                            font-size: 16px;
                            vertical-align: middle;
                            padding-left: 20px;
                        }
                    }
                    tr.final{
                        border: none;
                    }
                }
            }
        }



    }
}


//其他推薦景點----------------------------------------

div.blogpage_another_event {
    margin-bottom: 30px;
    h3{
        font-weight: 600;
        margin-bottom: 30px;
        @include m(){
            text-align: center;
        }
    }
    div.inner_block {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        div.event {

            width: 30.3333%;
            margin-right: 1.5%;
            margin-left: 1.5%;
            @include m(){
                width: 98%;
                margin-right: 1%;
                margin-left: 1%;
            }
            div.pic {
                width: 100%;
                position: relative;
                div.title{
                    position: absolute;
                    padding: 5px 20px;
                    bottom: 15px;
                    left: -15px;

                }

                img {
                    width: 100%;
                    display: block;
                }
            }

            div.content{
                p{
                    margin-top: 10px;
                    font-size: 20px;
                    @include m{
                        font-size: 16px;
                    }
                }
            }
        }

    }
}