.cart_container {
    width: 80%;
    margin: 0 auto;

    @include m() {
        width: 95%;
    }
}

// --------------- 麵包屑 ---------------
.cart_bread {
    width: 80%;
    margin: 3vh auto;

    @include m {
        margin-top: 10vh;

        ul {
            padding: 0;

            li {
                padding: 0;
            }
        }
    }

    ul {
        display: flex;
        align-items: center;

        li {
            position: relative;
            padding-left: 20px;

            &:not(:last-child)::after {
                content: '';
                position: absolute;
                top: 50%;
                left: 100%;
                transform: translateY(50%);
                height: 2px;
                width: 20px;
                background-color: $fontColor;
            }
        }
    }
}

// --------------- 麵包屑 ICONS -------------
.cart_icons_cart,
.cart_icons_description,
.cart_icons_credit_card {
    font-family: 'Material Icons Outlined';
    font-weight: 400;
    font-size: 40px;
    opacity: 1;
}

.cart_icons_credit_card,
.cart_icons_description {
    color: #888888;
}

// ------ 購物車上方 ---------------
.cart_section1 {
    width: 80%;
    background-color: $secondary;
    margin: 2vh auto;
    padding: 5vh 2vh 3vh 2vh;

    @include m() {
        width: 100%;
        padding: 0;
        margin-bottom: 5vh;

        h4 {
            padding: 20px;
        }
    }
}

.cart_line {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid $fontColor;

    @include m() {
        width: 95%;
        height: 2vh;
        background-color: $primary;
        border-color: $primary;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        margin-bottom: 4vh;
    }
}


//<!---------------- 電腦版購物車 ---------------->

.cart_inner_section {

    .cart_item_list {
        ul {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            li {
                padding: 3vh 0;
                width: 100%;
                display: flex;
                align-items: stretch;
                justify-content: space-around;

                img {
                    width: 30%;
                }

                P {
                    font-size: 20px;
                    color: $fontColor;

                    @include m() {
                        font-size: 18px;
                    }
                }

                .cart_inner_word {
                    width: 20%;

                    p {
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 1;
                    }
                }
            }
        }
    }
}
//<!---------------- 結算 ---------------->

.cart_total_price {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 3vh auto;

    p {
        font-size: 25px;
        color: $fontColor;

    }
}
//付款按鈕

.cart_pay_btn_wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.cart_pay_btn {
    border: 0;
    line-height: 40px;
    padding: 0 4vh;
    margin-right: 3vh;
    text-align: center;
    font-size: 16px;
    letter-spacing: 1px;
    background-color: #C73E3A;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;

}


//--------------- 購物車  收藏 刪除 按鈕----------------
.cart_icon_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart_icons_favorite_small,
.cart_icons_trash_small {
    font-family: 'Material Icons Outlined';
    font-weight: 400;
    font-size: 30px;
    opacity: 1;
    color: $fontColor;
}

#aboutSelectOne,
#aboutSelectAll {
    width: 16px;
    height: 16px;
}

// <!---------------- 購物車空的時候 ---------------->
.cart_when_empty {
    width: 80%;
    margin: 0 auto;
}

#emptyCartBtn {
    // display: none;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
    border-radius: 5px;
    border: 0;
    line-height: 40px;
    padding: 0 4vh;
    text-align: center;
    font-size: 16px;
    letter-spacing: 1px;
    background-color: #C73E3A;
    color: #fff;
    cursor: pointer;
}

.empty-cart-message {
    // display: none;
    text-align: center;
    color: $fontColor;
    font-size: 30px;
}

#emptyCartImage {
    // display: none;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

// .cart_list {
//     display: flex;
//     align-items: center;
//     margin: 2vh;
// }

// .cart_list li:last-child {
//     margin-left: auto;
//     padding-right: 2vw;
// }

//<!---------------- 推薦的地方 ---------------->
.cart_section2 {
    width: 90%;
    margin: 8vh auto;

    ul {
        display: flex;
        justify-content: space-between;

        li {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            width: 80%;
            margin: 0 20px;

            img {
                width: 100%;
                transform: scale(1);
                opacity: 1;
                transition: 0.5s;
                margin-bottom: 2vh;
            }

            &:hover .cart_pic_div img {
                transform: scale(1.05);
                opacity: 0.8;
            }
        }

        p {
            margin-bottom: 2vh;
            font-size: 20px;
            color: $fontColor;
            overflow: hidden;

            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
        }

        button {
            border: 0;
            line-height: 40px;
            padding: 0 2vh;
            text-align: center;
            font-size: 16px;
            letter-spacing: 1px;
            background-color: #C73E3A;
            color: #fff;
            border-radius: 5px;
            cursor: pointer;

        }
    }
}


//   ---------- 購物車手機版  ---------
// @include m() {
//     // margin-bottom: 2vh;
//     span {
//         width: 95%;
//         height: 2vh;
//         background-color: $primary;
//         border-color: $primary;
//         display: flex;
//         justify-content: center;
//         margin: 0 auto;
//         margin-bottom: 4vh;
//     }
//     .cart_pc_section1 {
//         display: none;
//     }

//     .cart_mobile_section1 {
//         display: flex;
//         justify-content: space-evenly;
//         margin-bottom: 20px;
//     }
//     .cart_mobile_article1 {
//         width: 45%;

//         ul {
//             li {
//                 padding: 0;

//                 img {
//                     width: 100%;
//                 }
//             }
//         }
//     }
//     .cart_mobile_article2 {
//         width: 45%;

//         ul {
//             display: block;

//             li {
//                 padding: 0;

//                 p {
//                     font-size: 18px;
//                     color: $fontColor;
//                     padding-bottom: 10px;
//                 }

//                 i {
//                     font-size: 15px;
//                 }

//             }

//             :nth-child(2)p {
//                 font-size: 12px;
//             }

//             :nth-child(3)p {
//                 font-size: 12px;
//             }

//             li:nth-child(4) {
//                 text-align: end;
//                 padding: 0 15px 5px 0;
//             }

//             :last-child {
//                 display: flex;
//                 justify-content: space-between;
//             }
//         }
//     }

//     li:last-child {
//         align-self: flex-end;
//         cursor: pointer;
//         padding-right: 80px;
//         justify-content: center;

//         @include m() {
//             padding: 0;
//         }
//     }

// }