.cart_container {
    width: 80%;
    margin: 0 auto;

    @include m() {
        width: 100%;
    }
}

// 麵包屑
.cart_bread {
    width: 80%;
    margin: 3vh auto;

    @include m {
        margin-top: 10vh;

        ul {
            padding: 0;

            li {
                padding: 0;
            }
        }
    }

    ul {
        display: flex;
        align-items: center;

        li {
            position: relative;
            padding-left: 20px;

            &:not(:last-child)::after {
                content: '';
                position: absolute;
                top: 50%;
                left: 100%;
                transform: translateY(50%);
                height: 2px;
                width: 20px;
                /* Adjust the width as needed */
                background-color: $fontColor;
                /* Adjust the line color as needed */
            }
        }
    }
}

//麵包屑 ICONS
.cart_icons_cart,
.cart_icons_description,
.cart_icons_credit_card {
    font-family: 'Material Icons Outlined';
    font-weight: 400;
    font-size: 40px;
    opacity: 1;
}

.cart_icons_credit_card,
.cart_icons_description {
    color: #888888;
}

//產品列表物件
.cart_icon_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.cart_icons_favorite_small,
.cart_icons_trash_small {
    font-family: 'Material Icons Outlined';
    font-weight: 400;
    font-size: 30px;
    opacity: 1;
    color: $fontColor;
}

//購物車
.cart_section1 {
    width: 80%;
    background-color: $secondary;
    margin: 2vh auto;
    padding: 5vh 2vh 3vh 2vh;

    @include m() {
        width: 100%;
        padding: 0;
        margin-bottom: 5vh;
        h4 {
            padding: 20px;
        }
    }
}

.cart_line {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid $fontColor;
    ;
}


//購物車加入項目
.cart_inner_section {
    margin-bottom: 3vh;

    ul {
        display: flex;
        justify-content: space-around;

        li:first-child {
            display: flex;
            align-items: center;
        }

        li {
            padding: 3vh 1vh;

            P {
                font-size: 25px;
                color: $fontColor;

                @include m() {
                    font-size: 18px;
                }
            }

        }

        li:nth-child(4)p,
        li:nth-child(5)p {
            font-size: 18px;
        }

        li:last-child {
            // align-self: flex-start;
            cursor: pointer;
            padding-right: 80px;

            @include m() {
                padding: 20px;
            }
        }
    }

    .cart_mobile_section1 {
        display: none;
    }

    @include m() {
        margin-bottom: 2vh;

        span {
            width: 95%;
            height: 2vh;
            background-color: $primary;
            border-color: $primary;
            display: flex;
            justify-content: center;
            margin: 0 auto;
            margin-bottom: 4vh;
        }

        .cart_pc_section1 {
            display: none;
        }

        .cart_mobile_section1 {
            display: flex;
            justify-content: space-evenly;
            margin-bottom: 20px;
        }

        .cart_mobile_article1 {
            width: 45%;

            ul {
                li {
                    padding: 0;

                    img {
                        width: 100%;
                    }
                }
            }
        }

        .cart_mobile_article2 {
            width: 45%;

            ul {
                display: block;

                li {
                    padding: 0;

                    p {
                        font-size: 18px;
                        color: $fontColor;
                        padding-bottom: 10px;
                    }

                    i {
                        font-size: 15px;
                    }

                }

                :nth-child(2)p {
                    font-size: 12px;
                }

                :nth-child(3)p {
                    font-size: 12px;
                }

                li:nth-child(4) {
                    text-align: end;
                    padding: 0 15px 5px 0;
                }

                :last-child {
                    display: flex;
                    justify-content: space-between;
                }
            }
        }

        li:last-child {
            align-self: flex-end;
            cursor: pointer;
            padding-right: 80px;
            justify-content: center;

            @include m() {
                padding: 0;
            }
        }

    }
}

#aboutSelectOne,
#aboutSelectAll {
    width: 16px;
    height: 16px;
}


//刪除按鈕
#emptyCartBtn{
    display: none;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
    border-radius: 5px;
}
.empty-cart-message {
    display: none;
    text-align: center;
    color: $fontColor;
    font-size: 30px;
}

#emptyCartImage {
    display: none;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

//付款按鈕
.cart_pay_btn {
    border: 0;
    line-height: 40px;
    padding: 0 4vh;
    text-align: center;
    font-size: 16px;
    letter-spacing: 1px;
    background-color: #C73E3A;
    color: #fff;
    cursor: pointer;

}
//前往商品按鈕
.cart_pay_btn2{
    border: 0;
    line-height: 40px;
    padding: 0 4vh;
    text-align: center;
    font-size: 16px;
    letter-spacing: 1px;
    background-color: #C73E3A;
    color: #fff;
    cursor: pointer;
    margin: 0 auto;
}

.cart_list {
    display: flex;
    align-items: center;
    margin: 2vh;
}

.cart_list li:last-child {
    margin-left: auto;
    padding-right: 2vw;
}

.cart_pay_btn {
    border-radius: 5px;
}

.cart_total_price {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;

    span {
        font-size: 20px;
        padding-left: 10px;
        color: $fontColor;
    }

    p {
        font-size: 25px;
        color: $fontColor;
    }

    // @include m(){

    // }
}

.cart_section2 {
    width: 70%;
    margin: 8vh auto;

    ul {
        display: flex;
        justify-content: space-between;

        li {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            .cart_pic_div {
                overflow: hidden;

                img {
                    transform: scale(1);
                    opacity: 1;
                    transition: 0.5s;
                    margin-bottom: 2vh;
                }
            }

            &:hover .cart_pic_div img {
                transform: scale(1.05);
                opacity: 0.8;
            }


            p {
                margin-bottom: 2vh;
                font-size: 20px;
                color: $fontColor;
            }

            button {
                border: 0;
                line-height: 40px;
                padding: 0 2vh;
                text-align: center;
                font-size: 16px;
                letter-spacing: 1px;
                background-color: #C73E3A;
                color: #fff;
                border-radius: 5px;
                cursor: pointer;

            }
        }
    }

    @include m() {
        display: none;
    }
}