.fqa{
    @include flex-container(row, nowrap, space-between, flex-start);
    color: $fontColor;
    height: auto;
    margin-top: 20px;

    @include m(){
        flex-direction: column;
        justify-content: flex-start;
    }


    aside{
        text-align: center;
        background-color: #fff;

        @include m(){
            background-color: $bgc;
        }

        h4{
            // font-size: $paragraph;
            line-height: 40px;
            box-sizing: border-box;
            padding: 10px;

            @include m(){
                display: none;
            }
    
        }

        ul{
            @include m(){
                display: none;
            }
            li{
                font-size: $paragraph;
                line-height: 30px;
                box-sizing: border-box;
                padding: 10px;
                cursor: pointer;

                transition: .3s;
                
                &:hover{
                    color: #fff;
                    background-color: $primary;    
                }
            }
            
            li.active{
                color: #fff;
                background-color: $primary;
            }
        }

        form{
            display: none;
            @include m(){
                display: block;
                margin: 70px 0 20px;
            }
            select{
                @include m(){
                    border: 10px solid #fff;
                    width: auto;
                    box-sizing: border-box;
                    padding: 0 5px;
                }    
            }
        }
    }

    main{
        background-color: #fff;
        box-sizing: border-box;
        padding: 20px;
        margin-bottom: 100px;
        min-height: 80vh;


        @include m(){
            width: 100%;
            min-height: 70vh;

        }

        > h4{
            margin-bottom: 20px;
        }

        .accordion-item{
            border: 1px solid $primary;
            border-radius: $borderRadius;
            margin-bottom: 40px;
            
            > p{
                font-size: $paragraph;
                background-color: $primary;
                color: #fff;
                box-sizing: border-box;
                padding: 10px;
                position: relative;
                cursor: pointer;

                @include m(){
                    font-size: $paragraph-s;
                }

                span.v{
                    display: block;
                    width: 2px;
                    height: 20px;
                    background-color: #fff;

                    position: absolute;
                    top: 0px;
                    bottom: 0;
                    margin: auto;
                    right: 24px;

                    transition: .3s;
                }
                span.v.-rotate{
                    transform: rotate(90deg);
                }

                span.h{
                    display: block;
                    width: 20px;
                    height: 2px;
                    background-color: #fff;

                    position: absolute;
                    top: 0px;
                    bottom: 0;
                    margin: auto;

                    right: 15px;

                }
                
            }

            .accordion-content{
                box-sizing: border-box;
                padding: 10px;
                display: none;

                p{
                    font-size: $paragraph;
                    @include m(){
                        font-size: $paragraph-s;
                    }
    
                }
            }
            .accordion-content.-open{
                display: block;

            }

        }
    }
}