.video_case {
    height: 100vh;

    .banner {
        z-index: -1;
        width: 100%;
        height: 100%;
        overflow: hidden;
        object-fit: cover;

        position: absolute;
        top: 0;
        left: 0;

        video {
            object-fit: cover;
            width: 100%;
            height: 100%;
            // @include m(){
            //     height: 100%;
            // }
        }
    }
}

//所有a
a {
    text-decoration: none;
    color: $fontColor;

}

a.backProductDetail_btn {
    display: block;
    text-decoration: none !important;
    color: $fontColor !important;
    padding: 0 10px;
    width: 100%;
    height: 100%;
}


/*第一部分 行程=================================*/
//標題

.index01_title {
    @include flex-container($justify-content:space-between);

    .topic {
        line-height: 1.2;
        color: $fontColor;

        @include m() {
            margin: 20px auto;

            h1 {
                font-size: $h2;
            }
        }
    }

    .info {
        width: 420px;
        line-height: 1.6;
        text-align: center;
        background-color: hsl(0, 0%, 100%, 70%);
        border-right: 15px solid $primary;
        padding: 40px;
        color: $fontColor;

        @include m() {
            margin: 10px auto 40px;
            width: 310px;
            padding: 20px;
            border-right: 3px solid $primary;

            h4 {
                font-size: $paragraph;
            }
        }
    }
}

//內容
.index01 {
    margin-bottom: 150px;

    @include m() {
        margin-bottom: 100px;

        .btn-pri-l {
            display: block;
            margin: 10px 89px 10px;
            line-height: 1.2;
        }
    }

    //飛機
    #plane-set {
        position: absolute;
        z-index: -100;

        @include m() {
            display: none;
        }

        #scrollArea {
            width: 1200px;
            height: 0;
            position: relative;
            opacity: 0;
            overflow: hidden;

            svg {
                position: absolute;
                left: 0;
                top: 0;
            }

        }

        #airplane {
            transform-origin: 50% 50%;
            position: absolute;
            width: 46px;
            height: 64px;
            top: 0;
            left: 0;

            opacity: 0;

            img {
                width: 100%;
                display: block;
            }

        }

    }

    //第一部分  
    .index01_content {
        @include flex-container($justify-content:space-between, $wrap:nowrap);

        margin-bottom: 90px;

        @include m() {
            flex-direction: column;
            margin-bottom: 10px;
        }

        li {
            width: 360px;
            height: 624px;
            // overflow: hidden;
            text-align: left;
            position: relative;

            @include m() {
                width: 100%;

            }

            &:nth-child(2) {
                margin-top: 100px;

                @include m() {
                    margin-top: 60px;
                }
            }

            &:last-child {
                margin-top: 200px;

                @include m() {
                    margin-top: 40px;
                    margin-bottom: 40px;
                }
            }

            .mask {
                overflow: hidden;
                width: 360px;
                height: 500px;

                @include m() {
                    width: 100%;
                }

                img {
                    cursor: pointer;
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                    transition: transform .4s ease-out;

                    &:hover {
                        transform: scale(1.1);
                    }

                    img {
                        transition: transform .2s ease-out;

                        &:hover {
                            transform: scale(1);
                        }
                    }
                }
            }

            // .hashtag {
            //     background-color: $primary;
            //     writing-mode: vertical-lr;
            //     /* 垂直直式排列，從右到左 */
            //     text-orientation: upright;
            //     /* 文本方向正確 */
            //     padding: 5px;
            //     color: #fff;
            //     text-align: center;
            //     letter-spacing: 5px;
            //     font-size: $paragraph;
            //     z-index: 99;

            //     position: absolute;
            //     top: -10px;
            //     left: -10px;
            // }

            span {
                width: 80px;
                position: absolute;
                right: -20px;
                top: 10px;

                @include m() {
                    right: -10px;
                }
            }

            h4 {
                letter-spacing: 1px;
                font-weight: 600;
                padding: 20px 0 15px;
            }

            p {
                width: 350px;
                height: 50px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .more {
                text-decoration: underline;
                display: block;
                text-align: right;
                font-weight: 600;
                padding-top: 10px;
                padding-right: 10px;
            }
        }

        //li
    }
}

/*第二部分 住宿=================================*/

.index02 {
    position: relative;

    .bgcblock {
        background-color: hsla(0, 0%, 100%, 70%);
        width: 70%;
        height: 550px;
        z-index: -1;
        position: absolute;
        top: -40px;
        right: 0;
    }

    //*****輪播*************************

    .swiper {
        height: 100%;

        .index02_swiper {
            width: 100%;
            text-align: center;
            font-size: 18px;
            background: #fff;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            img {
                height: 350px;
                display: block;
                width: 100%;
                object-fit: cover;

            }
        }
    }
}
    //******************************


.index02_title {
    margin-top: 60px;
    color: $fontColor;

    @include m() {
        margin-top: 10px;
    }

    @include flex-container($justify-content:flex-start);

    .topic {
        margin-left: 200px;
        color: $fontColor;

        @include m() {
            margin-left: 30px;

            h1 {
                font-size: $h2;
            }
        }
    }

    .info {
        margin-left: 100px;
        line-height: 1.6;
        color: $fontColor;

        @include m() {
            margin-left: 30px;
            margin-top: 10px;

            h4 {
                font-size: $paragraph;
            }
        }

    }

    .btn-pri-l {
        margin-left: 100px;
        line-height: 1.2;

        @include m() {
            display: block;
            margin: 30px auto;
        }
    }
}



/*第三部分 美食=================================*/

.index03 {
    margin: 150px auto;
    position: relative;

    @include m() {
        margin: 80px auto;
    }

    .gallery {
        height: 760px;
        display: grid;
        margin: 0 auto;
        grid-template-columns: 2fr 1.5fr repeat(4, 1fr);
        grid-template-rows: repeat(10, 0.5fr);
        grid-column-gap: 8px;
        grid-row-gap: 8px;
        grid-auto-flow: dense;

        @include m() {
            // grid-template-columns: 2fr,2fr repeat(4, 1fr);
        }

        .img09 {
            grid-area: 1 / 1 / 7 / 2;

            @include m() {
                grid-area: 1 / 1 / 7 / 3;
            }
        }
    }

    .img10 {
        grid-area: 1 / 2 / 4 / 3;

        @include m() {
            display: none;
            grid-area: 1 / 3 / 4 / 5;
        }
    }

    .img11 {
        grid-area: 1 / 3 / 4 / 5;

        @include m() {
            display: none;
        }
    }

    .img12 {
        grid-area: 1 / 5 / 4 / 7;

        @include m() {
            // display: none;
            grid-area: 1 / 3 / 4 / 7;
        }
    }

    .img13 {
        grid-area: 4 / 5 / 7 / 7;
    }

    .img14 {
        grid-area: 7 / 1 / 11 / 2;

        @include m() {
            display: none;
            grid-area: 7 / 1 / 11 / 2;
        }
    }

    .index03_title {
        grid-area: 4 / 2 / 7 / 5;
    }

    .img15 {
        grid-area: 7 / 2 / 9 / 4;

        @include m() {
            // display: none;
            grid-area: 7 / 1 / 9 / 4;
        }
    }

    .img16 {
        grid-area: 9 / 2 / 11 / 4;

        @include m() {
            // display: none;
            grid-area: 9 / 1 / 11 / 4;
        }
    }

    .img17 {
        grid-area: 7 / 4 / 11 / 5;

        @include m() {
            display: none;
        }
    }

    .img18 {
        grid-area: 7 / 5 / 11 / 7;

        @include m() {
            // display: none;
            grid-area: 7 / 4 / 11 / 7;
        }
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}


.index03_title {
    text-align: center;
    border: 5px solid $primary;
    // width: 618px;
    padding: 30px 0;
    color: $fontColor;

    @include m() {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 200px;
        height: 220px;
        background-color: $bgc;
        padding: 10px;
        padding-top: 80px;

    }

    h1 {
        margin-bottom: 20px;

        @include m() {
            margin-bottom: 40px;
            font-size: $h2;
            letter-spacing: 0;
        }
    }
}



/*第四部分--------旅遊專欄*/
.index04 {
    color: $fontColor;

    @include m() {
        h1 {
            font-size: $h2;
        }
    }

    .btn-pri-l {
        // padding-left: 10px;
        display: block;
        width: 130px;
        margin: 0 auto;
        line-height: 1.6;
        margin-bottom: 100px;
    }

    ul {
        margin-top: 80px;
        @include flex-container($justify-content:space-around,
            $align-items:flex-start,
        );

        @include m() {
            flex-direction: column;
        }


        li {
            width: 48%;

            margin-bottom: 50px;
            position: relative;

            @include m() {
                width: 100%;
            }


            span {
                width: 80px;
                position: absolute;
                top: -20px;
                left: -10px;
                z-index: 99;
            }

            img {
                width: 100%;
                height: 400px;
                object-fit: cover;

                &:hover {
                    opacity: .7;
                    transition: all .5s ease;
                }
            }

            h4 {
                font-weight: 600;
                margin: 10px 0;
            }

            p {
                text-align: left;
            }
        }
    }
}

/*第五部分--------地圖*/
.index05_wrapper {
    width: 100%;
    background-color: hsla(0, 0%, 100%, 70%);
    // height: 680px;
    padding: 25px 0;

    @include m {
        // padding-bottom: 320px;
        // margin-bottom:100px ;
        height: 1200px;
    }
}

.index05 {
    color: $fontColor;

    @include m() {
        h1 {
            font-size: $h2;
            letter-spacing: 0;
        }
    }

    .line2 {
        margin-left: 100px;
        margin-top: 30px;

        @include m {
            margin-left: 80px;
        }
    }

    .mapinfo {
        height: 420px;
        position: relative;

        .index05_info {
            margin-top: 50px;
            width: 600px;
            display: grid;

            grid-template-rows: auto;
            grid-template-columns: 1fr 2fr;
            gap: 10px 10px;

            @include m() {
                padding-top: 350px;
                width: 90%;
                grid-template-columns: 1fr;
                margin: 30px auto 0;
            }

            img {
                width: 300px;
                height: 200px;
                object-fit: cover;
                display: block;
                border-radius: 5px;

                @include m() {
                    margin: 0 auto;
                }

                &:nth-child(2) {
                    position: relative;
                    top: 40px;

                    @include m() {
                        top: 0;
                    }
                }
            }

            h4 {
                padding-top: 50px;
                width: 500px;
                line-height: 1.6;
                color: $fontColor;

                @include m() {
                    display: block;
                    margin: 0 auto;
                    padding-top: 10px;
                    font-size: $paragraph-s;
                    width: 100%;
                }

                strong {
                    font-size: $h3;
                    font-weight: 600;

                    @include m() {
                        font-size: $paragraph;
                    }
                }
            }
        }

        .mapsvg {
            width: 60%;
            position: absolute;
            top: -320px;
            right: -135px;

            @include m() {
                width: 100%;
                top: -30px;
                left: 0;
            }

            path {
                stroke: #fff;
                stroke-width: 1px;
                cursor: pointer;
                fill: #F4F1E8;

                &:hover,
                &.-active {
                    fill: #C73E3A;
                    stroke: #ECECEB;
                    transform: translate(-2px, -2px);
                    transition: .3s ease-out;
                }
            }
        }
    }
}

/*第六部分--------天氣*/
.index06 {
    color: $fontColor;
    padding: 80px;

    @include m() {
        padding: 30px 0;
    }

    .c {
        text-align: right;
        padding-top: 20px;
        align-self: flex-end;
    }

    .index06_title {
        padding: 20px 0;
        display: flex;
        justify-content: center;
        align-items: flex-end;

        p {
            margin-left: 10px;
        }
    }

    .weather {
        color: $fontColor;
        border-top: 1px dashed $fontColor;
        @include flex-container($justify-content:space-between);

        @include m() {
            flex-wrap: nowrap;
            justify-content: center;
        }

        .day {
            margin-top: 30px;
            text-align: center;

            li {
                font-size: 18px;
                padding: 10px 30px;

                @include m() {
                    padding: 10px 0px;
                }

                img {
                    width: 80px;
                }

                p {
                    font-size: 18px;
                }
            }
        }
    }
}

/*第七部分--------匯率*/
.index07_wrapper {
    background-color: $secondary;

    .index07 {
        display: flex;
        justify-content: center;
        padding: 30px 0;

        @include m() {
            flex-direction: column;
        }

        .index07_title {
            display: flex;
            align-items: center;

            i {
                font-size: $h3;
                color: $secondary;
                background-color: $fontColor;
                padding: 5px;
                border-radius: 3px;
                margin: 0 15px;

                @include m() {
                    font-size: $h4;
                }
            }

            h2 {
                @include m() {
                    font-size: $h3;
                }
            }
        }
    }

    table {
        width: 50%;
        margin-left: 50px;
        background-color: $bgc;
        font-size: $paragraph;
        color: $fontColor;
        table-layout: fixed;

        @include m() {
            margin: 20px auto;
            width: 100%;
        }

        tr {
            &:first-child {
                background-color: $fontColor;
                color: #fff;
            }
        }

        td {
            border: 5px solid $secondary;
            // border-collapse:collapse ;
            text-align: center;
            padding: 15px 0;

            input {
                background-color: transparent;
                outline: none;
                border: none;
                border-bottom: 1px solid $fontColor;
                font-size: $paragraph-s;
                text-align: center;

                @include m() {
                    width: 60%;
                }
            }
        }
    }
}




.none {
    display: none;
}