/*登入與註冊區域======================*/

.loginRegister {
    background-image: url('../image/loginRegister/loginBG.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 100px 0;




    @include m() {
        padding: 120px 0 70px;
    }

    .container {
        opacity: 0;

        &.-show {
            opacity: 1;
        }
    }

    .box {
        background-color: rgba(255, 255, 255, 0.8);
        width: 60%;
        margin: 0 auto;
        padding: 30px 50px;
        border-radius: $borderRadius;

        @include m() {
            width: 100%;
            box-sizing: border-box;
        }

        .tab {
            display: flex;
            justify-content: space-between;
            width: 60%;
            margin: 0 auto 50px;

            @include m() {
                width: 100%;
            }

            .tabBtn {
                font-size: $paragraph;
                border: 0;
                background-color: transparent;
                color: $fontColor;
                font-weight: bold;
                position: relative;
                cursor: pointer;

                &.active::after {
                    content: "";
                    display: block;
                    width: 100px;
                    height: 3px;
                    background-color: $primary;
                    position: absolute;
                    bottom: -30%;
                    left: -50%;
                }
            }
        }

        .login {
            width: 60%;
            margin: 0 auto;

            @include m() {
                width: 100%;
            }

            form {
                display: flex;
                flex-direction: column;
                color: $fontColor;

                label {
                    margin-bottom: 5px;
                    font-size: $paragraph-s;
                }

                input {
                    margin-bottom: 20px;
                    font-size: $paragraph-s;
                    background-color: white;
                }

                .errorMsg {
                    margin: -10px 0 20px 0;
                    color: $primary;
                    font-weight: bold;
                }

                p {
                    margin-top: -10px;
                    font-size: 13px;
                    color: $fontColor;
                    text-decoration: underline;
                    cursor: pointer;
                }

                button {
                    margin-top: 30px;
                    font-size: $paragraph-s;
                    border: 0;
                    height: 40px;
                    box-sizing: border-box;
                    padding: 10px;
                    border-radius: 5px;
                    background-color: white;
                    font-family: 'Noto Sans TC', '微軟正黑體';
                    color: $fontColor;
                    cursor: pointer;

                    &:hover {
                        background-color: $primary;
                        color: white;
                    }
                }
            }
        }
    }

    .register {
        width: 60%;
        margin: 0 auto;

        @include m() {
            width: 100%;
        }

        form {
            display: flex;
            flex-direction: column;
            color: $fontColor;

            label {
                margin-bottom: 5px;
                font-size: $paragraph-s;
            }

            input {
                margin-bottom: 20px;
                font-size: $paragraph-s;
                background-color: white;
            }

            .errorMsg {
                margin: -10px 0 20px 0;
                color: $primary;
                font-weight: bold;
            }

            a {
                margin-top: -10px;
                font-size: 13px;
                color: $fontColor;
            }

            button {
                margin-top: 30px;
                font-size: $paragraph-s;
                border: 0;
                height: 40px;
                box-sizing: border-box;
                padding: 10px;
                border-radius: 5px;
                background-color: white;
                font-family: 'Noto Sans TC', '微軟正黑體';
                color: $fontColor;
                cursor: pointer;

                &:hover {
                    background-color: $primary;
                    color: white;
                }
            }
        }

    }
}

.forget {
    background-color: rgba(0, 0, 0, 0.8);
    height: 100vh;
    position: absolute;
    top: 80px;
    left: 0;

    @include m() {
        top: 0;
        z-index: 1000;
    }

    .reset {
        width: 30%;
        margin-top: 100px;
        background-color: white;
        border-radius: $borderRadius;
        padding: 50px 0;
        position: relative;

        @include m() {
            width: 90%;
        }

        span {
            position: absolute;
            top: 3%;
            right: 2%;
            cursor: pointer;
            font-size: $paragraph;
        }

        form {
            display: flex;
            flex-direction: column;
            width: 80%;
            margin: 0 auto;
            color: $fontColor;

            h3 {
                text-align: center;
                margin-bottom: 30px;
            }

            label {
                margin-bottom: 30px;
                font-size: $paragraph-s;
                line-height: 1.5;
            }

            input {
                margin-bottom: 20px;
                font-size: $paragraph-s;
                background-color: white;
            }

            button {
                margin-top: 30px;
                font-size: $paragraph-s;
                border: 0;
                height: 40px;
                box-sizing: border-box;
                padding: 10px;
                border-radius: 5px;
                background-color: $primary;
                font-family: 'Noto Sans TC', '微軟正黑體';
                color: white;
                cursor: pointer;

                &:hover {
                    background-color: darken($primary, 8%);
                }
            }
        }
    }

    .done {
        width: 30%;
        margin-top: 100px;
        background-color: white;
        border-radius: $borderRadius;
        padding: 50px 0;

        @include m() {
            width: 90%;
        }


        form {
            display: flex;
            flex-direction: column;
            width: 80%;
            margin: 0 auto;
            color: $fontColor;

            h3 {
                text-align: center;
                margin-bottom: 30px;
                line-height: 1.2;
            }



            button {
                margin-top: 30px;
                font-size: $paragraph-s;
                border: 0;
                height: 40px;
                box-sizing: border-box;
                padding: 10px;
                border-radius: 5px;
                background-color: $primary;
                font-family: 'Noto Sans TC', '微軟正黑體';
                color: white;
                cursor: pointer;

                &:hover {
                    background-color: darken($primary, 8%);
                }
            }
        }
    }
}