// 麵包屑
.cart_bread{
    width: 80%;
    margin: 3vh auto;

    ul{
        display: flex;
        align-items: center;
        li{
            position: relative;
            padding-left: 20px;

            ::before {
                content: '';
                position: absolute;
                top: 50%;
                left: 100%;
                transform: translateY(-50%);
                height: 2px;
                width: 20px; /* Adjust the width as needed */
                background-color: #000; /* Adjust the line color as needed */
              }   
              :last-child::before {
                display: none; /* Hide the ::before pseudo-element on the last li */
              }  
            
            }

    }
}

.payment_container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;

    @include m(){
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
  }

.payment_left{
    width: 50%;
    margin: 2vh 1vw;
    margin-top: 10vh;
    @include m{
        width:90%;
    }
  }

.payment_right {
    width: 35%;
    margin: 1vh 1vw;

    @include m {
        width: 90%;

        ul {
            padding: 0;

            li {

                h5 {
                    font-size: 16px;
                    padding-right: 10px;
                    margin-left: 10px;
                }

            }

        }

    }
}

.payment_line {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid black;
    margin: 10px 0;
  }

.payment_section1 {
    background-color: #DFDEDE;
    width: 90%;
    margin: 3vh auto;
    padding: 1vh;
    border-radius: 10px;
    
    ul{
        display: flex;
        flex-direction: column;
        justify-content: center; /* Center the <li> elements horizontally */
        align-items: center; /* Center the <li> elements vertically */

        li{
            padding: 0.5vh;
            width: 99%;
            input{
                font-size: 18px;
                width: 100%;
                border: none;
                border-radius: 5px;
                height: 40px;

            }

        }
    }
}

.payment_section3 {
    background-color: #DFDEDE;
    width: 90%;
    margin: 3vh auto;
    padding: 1vh;
    border-radius: 10px;

    ul{
        display: flex;
        flex-direction: column;
        justify-content: center; /* Center the <li> elements horizontally */
        align-items: center; /* Center the <li> elements vertically */


        li{
            padding: 0.5vh;
            width: 99%;
            input{
                font-size: 18px;
                border: none;
                border-radius: 5px;
            }
            #payment_email {
                height: 40px;
                width: 99%;
            }
            
            textarea{
                width: 99%;
                border: none;
                border-radius: 5px;
                height: 40px;
                resize: none;

            }
        }
    }

}

.payment_side{

    background-color: #ECECEB;
    width: 90%;
    margin: 3vh auto;
    padding: 1vh;
    border-radius: 10px;

    @include m (){
        background-color: #DFDEDE;
    }

}

.payment_item_info{
    ul{
        width: 90%;
        display: flex;
        padding: 1vh;
        justify-content: space-between;
        align-items: center;
        li{
            h5{
                font-size: 18px;
                margin-top: 1vh;

            }
            button{
                font-size: 12px;
                margin-top: 1vh;

            }
        }
    }

}

.payment_price_selection {
        width: 90%;
        display: flex;
        padding: 0.5vh;
        justify-content: space-between;
        align-items: center;
}

.payment_side{
    ul {
        
        li{

            select{
                background-color: #C73E3A;
                border: none;
                width:  90%;
                height: 40px;
                border-radius: 5px;
                color:white;
                cursor: pointer;

            }
            button{
                border: none;
                cursor: pointer;

            }
            label{
                font-size: 18px;
                margin: 10px 0;

            }

            input{
                background-color: #C73E3A;
                border: none;
                width:  50%;
                height: 40px;
                border-radius: 5px;
                color:white;
                border: none;
                cursor: pointer;
                margin: 15px 0;
                font-size: 18px;

                /* Center horizontally */
                margin-left: auto;
                margin-right: auto;
                display: block;
              
                /* Center vertically */
                text-align: center; 
            }
        }
    }

}
.payment_select{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    option{
        font-size: 30px;
    }
}
