.product {
    padding: 30px 0;

    .container {
        // outline: 3px solid gray;
        display: flex;
        justify-content: space-between;

        @include m() {
            flex-direction: column;
        }




        .left {
            // outline: 1px solid yellow;

            .sidebar {
                // outline: 3px solid red;
                position: sticky;
                top: 100px;

            }



        }

        .right {
            // outline: 1px solid brown;
            width: 75%;
            margin-left: auto;

            @include m () {
                margin-left: 0;
                width: 100%;
            }
        }
    }

    .search {
        margin-top: 30px;
        height: 490px;
        overflow-y: scroll;
        overflow-x: hidden;

        .search-text {

            display: flex;
            margin-bottom: 30px;

            @include m() {
                display: none;
            }

            .search-bar {
                height: 30px;
                border: none;
                // background-image: url('/image/product/search-btn.png');
                // background-repeat: no-repeat;
                // background-position: right;
                // background-size: auto;

            }

            .search-btn {
                height: 32px;
                border: none;
                background-color: white;
                cursor: pointer;

            }
        }

        .accordion {

            @include m() {
                width: 100%;
                margin-top: 50px;
            }

            .check-box {
                margin-bottom: 30px;

                @include m() {
                    background-color: white;
                }

                .contentBx {

                    @include m() {
                        position: relative;
                    }

                    .label {

                        @include m() {
                            background-color: $primary;
                            padding: 5px;
                            border-radius: 5px;
                            // margin-bottom: 10px;
                            // cursor: pointer;
                            position: relative;

                            &:before {
                                content: "+";
                                position: absolute;
                                top: 20%;
                                right: 20px;
                                font-size: 1.5em;
                                color: white;
                            }
                        }

                        h4 {
                            margin-bottom: 10px;

                            @include m() {
                                margin-bottom: 0;
                                color: white;
                            }
                        }
                    }

                    label {
                        font-size: $paragraph-s;
                        line-height: 1.5em
                    }

                    .content {

                        @include m() {
                            // padding: 10px;
                            position: relative;
                            height: 0;
                            overflow: hidden;
                            transition: 0.5s;
                            overflow-y: auto;

                        }
                    }

                }

            }


            .check-box2 {

                margin-bottom: 30px;

                @include m() {
                    background-color: white;
                }

                .label {

                    @include m() {
                        background-color: $primary;
                        padding: 5px;
                        border-radius: 5px;
                        // margin-bottom: 10px;
                        // cursor: pointer;
                        position: relative;

                        &:before {
                            content: "+";
                            position: absolute;
                            top: 20%;
                            right: 20px;
                            font-size: 1.5em;
                            color: white;
                        }
                    }

                    h4 {
                        margin-bottom: 10px;

                        @include m() {
                            margin-bottom: 0;
                            color: white;
                        }
                    }
                }


                label {
                    font-size: $paragraph-s;
                    line-height: 1.5em
                }

                .content {

                    @include m() {
                        // padding: 10px;
                        position: relative;
                        height: 0;
                        overflow: hidden;
                        transition: 0.5s;
                        overflow-y: auto;

                    }
                }

            }


            .search-day {
                margin-bottom: 30px;

                @include m() {
                    background-color: white;
                }

                .label {

                    @include m() {
                        background-color: $primary;
                        padding: 5px;
                        border-radius: 5px;
                        // margin-bottom: 10px;
                        // cursor: pointer;
                        position: relative;

                        &:before {
                            content: "+";
                            position: absolute;
                            top: 20%;
                            right: 20px;
                            font-size: 1.5em;
                            color: white;
                        }
                    }

                    h4 {
                        margin-bottom: 10px;

                        @include m() {
                            margin-bottom: 0;
                            color: white;
                        }
                    }
                }

                // RWD的accordion效果，需要家的一些項目~
                .content {

                    @include m() {
                        // padding: 10px;
                        position: relative;
                        height: 0;
                        overflow: hidden;
                        transition: 0.5s;
                        overflow-y: auto;

                    }
                }


                .calendar {
                    width: 200px;
                    font-size: 14px;
                    font-family: Arial, sans-serif;
                }

                .calendar-header {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    background-color: #eee;
                    padding: 10px;
                }

                .calendar-header-item {
                    cursor: pointer;
                }

                .calendar-body {
                    border: 1px solid #ccc;
                    padding: 10px;
                }

                .calendar-weekdays {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 10px;
                }

                .calendar-weekday {
                    width: calc(100% / 7);
                    text-align: center;
                }

                .calendar-days {
                    display: flex;
                    flex-wrap: wrap;
                }

                .calendar-day {
                    width: calc(100% / 7);
                    height: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                }

                .calendar-day:hover {
                    background-color: #eee;
                }

                .calendar-day.today {
                    background-color: #ccc;
                }

                .calendar-day.selected {
                    background-color: #007bff;
                    color: #fff;
                }

            }

            .search-price {

                @include m() {
                    background-color: white;
                }

                .label {

                    @include m() {
                        background-color: $primary;
                        padding: 5px;
                        border-radius: 5px;
                        // margin-bottom: 10px;
                        // cursor: pointer;
                        position: relative;
                        color: white;

                        &:before {
                            content: "+";
                            position: absolute;
                            top: 20%;
                            right: 20px;
                            font-size: 1.5em;
                            color: white;
                        }
                    }

                }

                // RWD的accordion效果，需要家的一些項目~

                .content {

                    @include m() {
                        // padding: 10px;
                        position: relative;
                        height: 0;
                        overflow: hidden;
                        transition: 0.5s;
                        overflow-y: auto;

                    }
                }

                .slider {
                    // -webkit-appearance: none;
                    appearance: none;
                    width: 100%;
                    height: 10px;
                    background: #ddd;
                    outline: none;
                    opacity: 0.7;
                    // -webkit-transition: .2s;
                    transition: opacity .2s;
                }

                .slider:hover {
                    opacity: 1;
                }

                .slider::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    appearance: none;
                    width: 20px;
                    height: 20px;
                    background: #C73E3A;
                    cursor: pointer;
                    border-radius: 50%;
                    position: relative;
                }

                .slider::-moz-range-thumb {
                    width: 20px;
                    height: 20px;
                    background: #C73E3A;
                    cursor: pointer;
                    border-radius: 50%;
                    position: relative;
                }

                #value {
                    width: 100%;
                    margin-top: 10px;
                    text-align: center;
                    font-size: 14px;
                    font-weight: bold;
                }


            }

        }


        // -------------------RWD的accordion效果，需要家的一些項目 -----------------------


        //  .accordion{
        //     .contentBx.active{
        //         .content{
        //             @include m(){
        //                 height: 150px;
        //                 padding: 10px;
        //             }
        //         }
        //     }
        //  }


        //  .accordion{

        //     .search-day{

        //         .contentBx.active{

        //             .content{

        //                 @include m(){
        //                     height: 230px;
        //                     padding: 10px;
        //                 }
        //             }


        //         } 
        //     }



        //  } 


        //  .accordion{

        //     .check-box2{

        //         .contentBx.active{

        //             .content{

        //                 @include m(){
        //                     height: 80px;
        //                     padding: 10px;
        //                 }
        //             }
        //         } 
        //     }
        //  } 

        //  .accordion{

        //     .search-price{

        //         .contentBx.active{

        //             .content{

        //                 @include m(){
        //                     height: 30px;
        //                     padding: 10px;
        //                 }
        //             }
        //         } 
        //     }
        //  }

        //  =============================test=================================


        //勾勾1
        .accordion {
            .contentBx {
                .content.active {
                    @include m() {
                        height: 150px;
                        padding: 10px;
                    }
                }
            }
        }


        //勾勾2
        .accordion {

            .check-box2 {

                .contentBx {

                    .content.active {

                        @include m() {
                            height: 80px;
                            padding: 10px;
                        }
                    }
                }
            }
        }


        //  日期
        .accordion {

            .search-day {

                .contentBx {

                    .content.active {

                        @include m() {
                            height: 230px;
                            padding: 10px;
                        }
                    }


                }
            }



        }


        //  價錢
        .accordion {

            .search-price {

                .contentBx {

                    .content.active {

                        @include m() {
                            height: 30px;
                            padding: 10px;
                        }
                    }
                }
            }
        }


    }




    .accordion {
        .contentBx.active {
            .label {
                &::before {
                    @include m() {
                        content: "-";

                    }
                }
            }
        }
    }

    .search {

        .accordion {

            .check-box {

                .contentBx.active {
                    .label {
                        &::before {
                            @include m() {
                                content: "-";
                            }
                        }
                    }
                }

            }

        }

    }


    // ----------------------article-----------------------------------//
    .top-column {
        border: 1px solid #000;
        background-color: #ECECEB;
        padding: 5px;
        margin-bottom: 25px;
        margin-top: 30px;
        // min-width: 864px;
    }


    .big-area {
        ul {
            // outline: 2px solid blue;
            width: 100%;


            li {
                display: flex;
                margin-top: 20px;
                width: 100%;
                justify-content: space-between;

                @include m() {
                    flex-direction: column
                }

                .jpg {
                    border: 1px solid #000;
                    flex-grow: 1;
                    width: 70%;

                    @include m() {
                        width: 100%;
                        border-radius: 10px 10px 0 0;
                        outline: 1px solid #000;
                        border: 0px;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;

                        @include m() {
                            border-radius: 10px 10px 0 0;
                            width: 100%;
                        }
                    }
                }

                .word {
                    background-color: white;
                    padding: 10px;
                    border-radius: 0, 5px, 5px, 0;
                    border: 1px solid #000;
                    // flex-basis: 60%;
                    flex-basis: 100%;
                    // width: 50%;

                    @include m() {
                        border-radius: 0 0 10px 10px;
                        outline: 1px solid #000;
                        border: 0px;

                    }

                    .p-content{
                        width: 100%;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 3;
                        box-sizing: border-box;

                        font-size: $paragraph-s;
                        margin-bottom: 30px;
                    }

                    .rwd-star {
                        display: none;

                        @include m() {
                            display: block;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            margin-bottom: 10px;
                        }

                        a {
                            @include m() {
                                text-decoration: none;
                                color: #fff;
                                display: block;
                            }
                        }

                        button {
                            @include m() {
                                padding: 0 20px;
                            }
                        }
                    }

                    .rwd-both {
                        display: none;

                        @include m() {
                            display: block;
                            display: flex;
                            justify-content: space-between;
                        }

                        .follow {
                            @include m() {
                                font-size: $paragraph;
                            }
                        }

                        .rwd-price {
                            @include m() {
                                font-size: $paragraph;
                                font-weight: bolder;
                            }
                        }
                    }

                }

            }
        }
    }




    .title-h {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;

        .heart-btn {
            padding-top: 5px;
            border: none;
            background-color: transparent;
            cursor: pointer;

        }
    }

    .s-heart {
        // fill: currentColor;
        // color: $primary;
        // fill: rgba(255, 0, 0, 0.5);
        // fill: transparent;
        // stroke: none;
    }

    .star-p {
        display: flex;
        justify-content: space-between;
        font-size: $paragraph-s;
        clear: both;

        @include m() {
            display: none;
        }

        .price {
            text-align: center;
            line-height: 34px;
            font-size: $paragraph;
        }
    }

    .only-btn {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;

        @include m() {
            display: none;
        }

        .p-targ {
            height: 24px;
            border: 1px solid #000;
            font-size: $paragraph-s;
            padding: 3px;
        }

        .p-targ1 {
            // border: 1px solid #000;
            height: 32px;
            font-size: $paragraph-s;
            padding: 3px;
        }

        a {
            text-decoration: none;
            color: #fff;
            display: block;
        }

        button {
            padding: 0 20px;
        }


    }

    .page {

        margin-top: 30px;

        ul {
            // outline: 1px solid yellow;
            display: flex;
            justify-content: center;

            @include m() {
                justify-content: center;
            }

            li {
                a {
                    display: block;
                    font-size: $paragraph;
                    width: 50px;
                    height: 50px;
                    text-decoration: none;
                    text-align: center;
                    line-height: 50px;
                    color: white;
                    background-color: $primary;
                    margin-right: 10px;
                }
            }
        }
    }




}

// .product-rwd{
//     display: none;
// }




// ------------------------------RWD------------------------------ //

@media screen and (max-width:414px) {}

//     .product{
//         display: none;
//     }

//     .product-rwd{
//         display: block;
//         margin-top: 100px;
//     }

// // ------------------------------accordion------------------------------ //


// .accordion{

//     h3{
//         background-color: $primary;
//         border: 1px solid black;
//         border-radius: 5px;
//         color: white;
//         padding: 5px;
//         font-size: $paragraph;
//     }

//     .search{
//         background-color: white;
//         border-radius: 5px;
//         margin: 10px;
//         padding: 10px;

//         .search-text{
//             border: 1px solid black;
//             border-radius: 5px;
//             display: flex;
//             margin-bottom: 30px;

//             .search-bar{
//                 height: 30px;
//                 border: none;
//                 // background-image: url('/image/product/search-btn.png');
//                 // background-repeat: no-repeat;
//                 // background-position: right;
//                 // background-size: auto;

//             }

//             .search-btn{
//                 margin-left: 5px;
//                 height: 32px;
//                 border: none;
//                 background-color: white;
//                 cursor: pointer;

//             }
//         }
//     }

//     .section2{
//         background-color: white;
//         border-radius: 5px;
//         margin: 10px;
//         padding: 10px;


//     .check-box2{
//         // background-color: white;
//     }

//     }

//     //----------依日期搜尋//----------//
//     .calendar {
//         width: 200px;
//         font-size: 14px;
//         font-family: Arial, sans-serif;
//       }

//       .calendar-header {
//         display: flex;
//         justify-content: space-between;
//         align-items: center;
//         background-color: #eee;
//         padding: 10px;
//       }

//       .calendar-header-item {
//         cursor: pointer;
//       }

//       .calendar-body {
//         border: 1px solid #ccc;
//         padding: 10px;
//       }

//       .calendar-weekdays {
//         display: flex;
//         justify-content: space-between;
//         margin-bottom: 10px;
//       }

//       .calendar-weekday {
//         width: calc(100% / 7);
//         text-align: center;
//       }

//       .calendar-days {
//         display: flex;
//         flex-wrap: wrap;
//       }

//       .calendar-day {
//         width: calc(100% / 7);
//         height: 30px;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         cursor: pointer;
//       }

//       .calendar-day:hover {
//         background-color: #eee;
//       }

//       .calendar-day.today {
//         background-color: #ccc;
//       }

//       .calendar-day.selected {
//         background-color: #007bff;
//         color: #fff;
//       }




//       //----------依價錢搜尋//----------//
//       .search-price{

//         .slider {
//             // -webkit-appearance: none;
//             appearance: none;
//             width: 100%;
//             height: 10px;
//             background: #ddd;
//             outline: none;
//             opacity: 0.7;
//             // -webkit-transition: .2s;
//             transition: opacity .2s;
//           }

//           .slider:hover {
//             opacity: 1;
//           }

//           .slider::-webkit-slider-thumb {
//             -webkit-appearance: none;
//             appearance: none;
//             width: 20px;
//             height: 20px;
//             background: #4CAF50;
//             cursor: pointer;
//             border-radius: 50%;
//             position: relative;
//           }

//           .slider::-moz-range-thumb {
//             width: 20px;
//             height: 20px;
//             background: #4CAF50;
//             cursor: pointer;
//             border-radius: 50%;
//             position: relative;
//           }

//           #value {
//             width: 100%;
//             margin-top: 10px;
//             text-align: center;
//             font-size: 14px;
//             font-weight: bold;
//           }


//     }

// }



//     .rwd-section{
//         // display: none;
//         outline: 1px solid yellow;
//         width: 100%;
//         margin-top: 50px;
//         // padding: 10px 20px 10px 0;

//         .all{
//             border: 1px solid black;
//             border-radius: 10px;
//             margin-bottom: 30px;

//             img{
//                 width: 100%;
//             }

//             .ind{
//                 padding: 10px;
//                 background-color: white;
//                 border-radius: 10px;

//                 h1{
//                     font-size: $paragraph;
//                     font-weight: bolder;
//                     margin: 10px 0;
//                 }

//                 p{
//                     font-size: $paragraph-s;
//                 }


//                 .rwd-star{
//                     width: 30%;
//                     margin-top: 20px;
//                 }

//                 .rwd-both{
//                     display: flex;
//                     justify-content: space-between;

//                     .rwd-price{
//                         font-size: $paragraph;
//                         font-weight: bolder;
//                     }
//                 }
//             }


//         }

//         .rwd-page{

//             margin-bottom: 30px;

//             ul{
//                 // outline: 1px solid yellow;
//                 display: flex;
//                 justify-content: center;

//                 li{
//                     a{
//                         display: block;
//                         font-size: $paragraph;
//                         width: 25px;
//                         height: 25px;
//                         text-decoration: none;
//                         text-align: center;
//                         line-height: 25px;
//                         color: white;
//                         background-color: $primary;
//                         margin-right: 10px;
//                     }
//                 }
//             }
//         }
//     }
// }