.roomBlog-banner{
    // outline: 2px solid blue;
    background-image: url(../../image/roomBlog/top-banner.png);
    max-width: 100%;
    height: 50vh;
    background-size: cover;

    .banner-text{
        // outline: 1px solid  red;
        text-align: center;
        margin-top: 70px;
        color: white;

        h3{
            margin-left: 30px;
            margin-top: 10px;
        }

        h3:last-child{
            margin-left: 100px;
            margin-top: 10px;

        }
    }
}



.roomBlog{
      
    
    .section-tag{

        ul{
            display: flex;
            justify-content: center;
            margin-top: 30px;

            li{
                margin-right: 20px;
            }
        }

    }

    .mid-pc1{
        width: 80%;
        margin-top: 50px;
        // outline: 1px solid red;

        img{
            width: 80%;
        }
    }

    .both{
        display: flex;
        justify-content: space-between;
        width: 100%;
        // outline: 3px solid blue;


        .city{
            // outline: 5px solid yellow;
            flex-grow: 1;

            h1{
                text-align: center;
                line-height: 490px;
                color: $primary;
                font-weight:bold;
            }

        }

        .mid-pc2{
            // outline: 4px solid brown;

            img{
                width: 70%;
            }

        }

    }

    // ------------------------main-room------------------------ //

    .main-room1{
        // outline: 3px solid blue;

        display: flex;
        margin-top: 50px;
        width: 100%;

        .box{
            // outline: 5px solid red;

            display: flex;
            align-items: flex-end;
            // width: 100%;

            .room{
                width: 100%;

                img{
                    width: 100%;
                    height: auto;
                }
            }


            .words{
                // outline: 3px solid yellow;

                padding: 10px;
                width: 50%;
                height: auto;

                p{
                    font-size: $paragraph;
                }

            }
        }


    }

    .main-room2{
        display: flex;
        margin-top: 50px;

        .box{
            display: flex;
            align-items: flex-end;

            .room{

                width: 100%;

                img{
                    width: 100%;
                    height: auto;
                }
            }

            .words{
                padding: 10px;
                width: 50%;
                height: auto;

                p{
                    font-size: $paragraph;
                }

            }
        }


    }

    .main-room3{
        display: flex;
        margin-top: 50px;

        .box{
            display: flex;
            align-items: flex-end;

            .room{
                
                width: 100%;

                img{
                    width: 100%;
                    height: auto;
                }
            }

            .words{
                padding: 10px;
                width: 50%;
                height: auto;

                p{
                    font-size: $paragraph;
                }

            }
        }


    }


    .page{
        
        margin-top: 50px;
    
        ul{
            // outline: 1px solid yellow;
            display: flex;
            justify-content: center;
    
            li{
                a{
                    display: block;
                    font-size: $paragraph;
                    width: 50px;
                    height: 50px;
                    text-decoration: none;
                    text-align: center;
                    line-height: 50px;
                    color: white;
                    background-color: $primary;
                    margin-right: 10px;
                }
            }
        }
    }
    
}