h1 {
    font-size: $h1;
    letter-spacing: 3px;
}

h2 {
    font-size: $h2;
    letter-spacing: 3px;
}

h3 {
    font-size: $h3;
    letter-spacing: 2px;
}

h4 {
    font-size: $h4;
    letter-spacing: 2px;
}

p {
    font-size: $paragraph-s;
    letter-spacing: 1px;
    line-height: 1.5;
}